<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><%= link_to "Search", searches_path%></li>
</ul>
<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="todays-games">

					<div class="col-sm-4">
						<%= render partial: "layouts/feed" %>
					</div>
					<div class="col-sm-8">
					<h1>Choose a Replay</h1>

			 	 </div> 	 
		</div>
		<div role="tabpanel" class="tab-pane col-sm-12 fade" id="search">
			<%#= render partial: "layouts/search" %>
		</div>
</div>			  	