<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Visitor</Data></Cell>
        <Cell><Data ss:Type="String">Home</Data></Cell>
        <Cell><Data ss:Type="String">Time</Data></Cell>
        <Cell><Data ss:Type="String">HP</Data></Cell>
        <Cell><Data ss:Type="String">1B</Data></Cell>
        <Cell><Data ss:Type="String">2B</Data></Cell>
        <Cell><Data ss:Type="String">3B</Data></Cell>
        <Cell><Data ss:Type="String">Replay Official</Data></Cell>
        <Cell><Data ss:Type="String">Inning</Data></Cell>
        <Cell><Data ss:Type="String">Score</Data></Cell>
        <Cell><Data ss:Type="String">In Favor Of</Data></Cell>
        <Cell><Data ss:Type="String">Outs</Data></Cell>
        <Cell><Data ss:Type="String">Runners</Data></Cell>
        <Cell><Data ss:Type="String">Challenging Team</Data></Cell>
        <Cell><Data ss:Type="String">Calling Umpire</Data></Cell>
        <Cell><Data ss:Type="String">Play Description</Data></Cell>
        <Cell><Data ss:Type="String">Play Type</Data></Cell>
        <Cell><Data ss:Type="String">Play Location</Data></Cell>
        <Cell><Data ss:Type="String">Headset Umpire 1</Data></Cell>
        <Cell><Data ss:Type="String">Headset Umpire 2</Data></Cell>
        <Cell><Data ss:Type="String">Replay Offical Ruling</Data></Cell>
        <Cell><Data ss:Type="String">Placement of Runners</Data></Cell>
        <Cell><Data ss:Type="String">Was Ruling Correct</Data></Cell>
        <Cell><Data ss:Type="String">Time from Call to Challenge</Data></Cell>
        <Cell><Data ss:Type="String">Time from Challenge to Ruling</Data></Cell>
        <Cell><Data ss:Type="String">Time on Headset</Data></Cell>
        <Cell><Data ss:Type="String">Time from Call to next Pitch</Data></Cell>
        <Cell><Data ss:Type="String">Notes</Data></Cell>
        <Cell><Data ss:Type="String">Replay Technician</Data></Cell>
        <Cell><Data ss:Type="String">Replay Administrator</Data></Cell>
        <Cell><Data ss:Type="String">Definitive Angle</Data></Cell>
        <Cell><Data ss:Type="String">Time of Play (EST)</Data></Cell>
        <Cell><Data ss:Type="String">Video Link</Data></Cell>
      </Row>
    <% @all_replays_order.each do |replay| %>
      <Row>
        <Cell><Data ss:Type="String"><%= replay.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.visiting_team %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.home_team %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.game_start_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.hp_umpire %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.first_b_umpire %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.second_b_umpire %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.third_b_umpire %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.replay_official %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.inning %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.score %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.in_favor_of %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.outs %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.runners_on %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.challenging_team %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.calling_umpire %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.play_desc %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.play_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.play_location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.headset_ump1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.headset_ump2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.replay_official_ruling %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.placement_of_runners %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.was_ruling_correct %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.time_from_call_to_review %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.time_from_review_to_ruling %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.time_on_headset %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.time_from_call_to_next_pitch %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.notes %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.replay_tech %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.admin %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.definitive_angle %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.game_start_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.video_link %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

<script type="text/javascript">

$("cell data:contains('Cubs')").text(function () {
    return $(this).text().replace("Cubs", "CHC"); 
    });
</script>