<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><a href="#search" aria-controls="search" role="tab" data-toggle="tab" aria-expanded="false">Search</a></li>
</ul>
<div class="tab-content ">
	    <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="todays-games">

					<div class="col-sm-4">
						<%= render partial: "layouts/feed" %>
					</div>
					<div class="col-sm-8">
						<ul class="nav nav-tabs" role="tablist">
							
							<li role="presentation" class=""><a href="#email" aria-controls="email" role="tab" data-toggle="tab" aria-expanded="false">Email</a></li>
							<li role="presentation" class=""><a href="#replay-review" aria-controls="replay-review" role="tab" data-toggle="tab" aria-expanded="false">Replay Review</a></li>
						  <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab" aria-expanded="true">Data Entries</a></li>
						</ul>
						<div class="tab-content">
							    <div role="tabpanel" class="tab-pane  col-sm-12 fade" id="email">
							    	<h1>Replay #<%= @this_replay.id %></h1>
							    	<span ><%= link_to raw("<div class='btn btn-info lrg-btn'><i class='fa fa-envelope-o'></i>&nbsp; Create Email</div>"), :controller => "emails", :action => "new", :id => @this_replay %></span>
							    </div>
							    <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="data">
						    		
									<div>
										  <h1>Replay #<%= @this_replay.id %></h1>
										 
										<table class="tg" style="undefined;table-layout: fixed;">
										<colgroup>
										<col style="col-sm-4">
										<col style="col-sm-4">
										</colgroup>
										<%= simple_form_for @new_replay, :url => { :action => 'update'} do |r| %>
										  <tr>
										    <td class="tg-tvhl">Type of Challenge</th>
										    <td class="tg-1u2s"><%= r.input :type_of_challenge, :selected => @this_replay.type_of_challenge %></th>
										  </tr>
										  <tr>
										    <td class="tg-3768">Play Type</td>
										    <td class="tg-031e"><%= r.select :play_type, ["","force play","home run","tag play","catch / no catch","fair / foul", "violation of collision at home plate", "hit by pitch"], :selected => @this_replay.play_type %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Home Run Variation</th>
										    <td class="tg-1u2s"><%= r.select :homerun_variation, ["","wall","fair / foul","fan interference"], :selected => @this_replay.homerun_variation %></th>
										  </tr>
										  <tr>
										    <td class="tg-3768">Tap Play Variation</td>
										    <td class="tg-031e"><%= r.select :tag_play_variation, ["","steal attempt","pickoff"], :selected => @this_replay.tag_play_variation %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Original Ruling on Field</td>
										    <td class="tg-1u2s"><%= r.select :orig_ruling_on_field, ["Safe","Out","Hit By Pitch","Not Hit By Pitch","Fair","Foul","Homerun","Not Homerun"], :selected => @this_replay.orig_ruling_on_field%></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Replay Official Ruling</td>
										    <td class="tg-031e"><%= r.select :replay_official_ruling, ["Confirmed","Stands","Overturned","Record Keeping"] , :selected => @this_replay.replay_official_ruling %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Visiting Team</th>
										    <td class="tg-1u2s"><%= r.text_field :visiting_team, :value => @this_replay.visiting_team  %></th>
										  </tr>
										  <tr>
										    <td class="tg-3768">Home Team</td>
										    <td class="tg-efv9"><%= r.text_field :home_team, :value => @this_replay.home_team  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Game Start Time</td>
										    <td class="tg-1u2s"><%= r.text_field :game_start_time, :value => @this_replay.game_start_time.strftime("%I:%M:%S %p")  %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">HP Umpire</td>
										    <td class="tg-efv9"><%= r.text_field :hp_umpire, :value => @this_replay.hp_umpire  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">1B Umpire</td>
										    <td class="tg-1u2s"><%= r.text_field :first_b_umpire, :value => @this_replay.first_b_umpire  %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">2B Umpire</td>
										    <td class="tg-efv9"><%= r.text_field :second_b_umpire, :value => @this_replay.second_b_umpire  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">3B Umpire</td>
										    <td class="tg-1u2s"><%= r.text_field :third_b_umpire, :value => @this_replay.third_b_umpire  %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Replay Official</td>
										    <td class="tg-efv9"><%= r.text_field :replay_official, :value => @this_replay.replay_official  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Inning</td>
										    <td class="tg-1u2s"><%= r.select :inning, ["T1","B1","T2","B2","T3","B3","T4","B4","T5","B5","T6","B6","T7","B7","T8", "B8", "T9", "B9", "T10", "B10", "T11", "B11", "T12", "B12", "T13", "B13", "T14", "B14", "T15", "B15", "T16", "B16", "T17", "B17", "T18", "B18", "T19", "B19", "T20", "B20"], :selected => @this_replay.inning %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Score</td>
										    <td class="tg-efv9"><%= r.text_field :score, :placeholder => "Enter Score",:value => @this_replay.score  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">In Favor Of</td>
										    <td class="tg-1u2s"><%= r.select :in_favor_of, ["Home","Away"], :selected => @this_replay.in_favor_of %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Outs</td>
										    <td class="tg-031e"><%= r.select :outs, ["0","1","2","3"], :selected => @this_replay.outs %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Runner(s) On</td>
										    <td class="tg-1u2s"><%= r.select :runners_on, ["No runners on","runner on 1B","runner on 2B","runner on 3B","runners on 1B and 2B","runners on 1B and 3B","runners on 2B and 3B","bases loaded"], :selected => @this_replay.runners_on %></td>
										  </tr>
										  
										 <tr>
										    <td class="tg-3768">Game Date</td>
										    <td class="tg-efv9"><%= @this_replay.date.strftime("%m/%d/%Y") %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Calling Umpire</td>
										    <td class="tg-1u2s"><%= r.text_field :calling_umpire, :value => @this_replay.calling_umpire  %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Play Description</td>
										    <td class="tg-031e"><%= r.text_area :play_desc, value: @this_replay.play_desc %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Headset Ump 1</td>
										    <td class="tg-1u2s"><%= r.input :headset_ump1,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.headset_ump1) }%></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Headset Ump 2</td>
										    <td class="tg-031e"><%= r.input :headset_ump2,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.headset_ump2) }%></td>
										  </tr>
										  
										  <tr>
										    <td class="tg-tvhl">Placement of Runners</td>
										    <td class="tg-1u2s"><%= r.select :placement_of_runners, ["No runners on","runner on 1B","runner on 2B","runner on 3B","runners on 1B and 2B","runners on 1B and 3B","runners on 2B and 3B","bases loaded"], :selected => @this_replay.placement_of_runners  %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Was Ruling Correct?</td>
										    <td class="tg-031e"><%= r.select :was_ruling_correct, ["Yes","No"], :selected => @this_replay.was_ruling_correct %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Time from call to review</td>
										    <td class="tg-1u2s"><%= r.input :time_from_call_to_review ,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.time_from_call_to_review) } %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Time on headset</td>
										    <td class="tg-031e"><%= r.input :time_on_headset ,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.time_on_headset) } %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Time from call to next pitch</td>
										    <td class="tg-1u2s"><%= r.input :time_from_call_to_review ,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.time_from_call_to_review) } %></td>
										  </tr>
										   <tr>
										    <td class="tg-3768">Challenging Team</td>
										    <td class="tg-031e"><%= r.text_field :challenging_team, :value => @this_replay.challenging_team  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Time from review to ruling</td>
										    <td class="tg-1u2s"><%= r.input :time_from_review_to_ruling ,:as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.time_from_review_to_ruling) } %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Time of play</td>
										    <td class="tg-031e"><%= r.input :time_of_play, :as => :time_picker,input_html: { class: "datepicker", value: (@this_replay.time_of_play) }%></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Play Location</td>
										    <td class="tg-1u2s"><%= r.select :play_location, ["HP","1B","2B","3B","LF","CF","RF"], :placeholder => "Play Location",:selected => @this_replay.play_location %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Stadium</td>
										    <td class="tg-031e"><%= r.text_field :stadium, :value => @this_replay.stadium  %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Admin</td>
										    <td class="tg-1u2s"><%= r.select :admin, ["Matthew DeFonzo","Eric Feibusch","Luca Messina","Armando Morales","Aaron Yorke"],:selected => @this_replay.admin %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Replay Tech</td>
										    <td class="tg-031e"><%= r.select :replay_tech, ["Tim Akins","JJ Bucci","Ryan Burns","Tom Butto","Will Cahan","Chris Carey","Dan Courtright","Nick Della Torri","Keith Dolega","Andrew Fried","Chris Hein","Matt Helvick","Evan James","Steve Kultzow","Andrew Maple","Matt Mendez","Randy Mullins","Brian Richman","Jimmy Sensale","Brian Smith","Damien Spellman","Nick Urteaga"],:selected => @this_replay.replay_tech %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Definitive Angle</td>
										    <td class="tg-1u2s"><%= r.select :definitive_angle,["Low 1B","Mid 1B","High 1B","Low 3B","Mid 3B","High 3B","Tight CF","CF","High Home","LF Foul Pole","RF Foul Pole","Low Home","Inside Low 1B","Outside Low 1B","Inside Low 3B","Outside Low 3B"], :placeholder => "Definitive Angle",:selected => @this_replay.definitive_angle %></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Cameras Available</td>
										    <td class="tg-031e"><%= r.text_field :cameras_available,:value => @this_replay.cameras_available %></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Notes</td>
										    <td class="tg-1u2s"><%= r.text_area :notes , :placeholder => "Enter Notes",:value => @this_replay.notes%></td>
										  </tr>
										  <tr>
										    <td class="tg-3768">Video Link</td>
										    <td class="tg-031e"><%= r.text_field :video_link , :placeholder => "Enter Video Link",:value => @this_replay.video_link%></td>
										  </tr>
										  <tr>
										    <td class="tg-tvhl">Screenshot Link</td>
										    <td class="tg-1u2s"><%= r.text_field :screenshot_link, :placeholder => "Enter Screenshot Link",:value => @this_replay.screenshot_link %></td>
										  </tr>

										</table>
										</div>
										<div style="clear: both;float: right;width: 200px;">
											<%= r.submit "Update Replay", {:class => "btn btn-info lrg-btn"} %>
										</div>
										<% end %> 
						    	</div>
							    <div role="tabpanel" class="tab-pane col-sm-12 fade " id="replay-review">

							    	
								    	<h1>Replay #<%= @this_replay.id %></h1>
								    	<div class="confirm-ruling">
									    	<%= render partial: "layouts/confirm" if current_user == 1 %>
									    </div>
								    <div class="col-sm-12">
								    	<div class="panel-group" id="accordion">
								      <% @replay_emails.each_with_index do |i, index| %>
								          <div class="panel panel-default">
								            <div class="panel-heading">
								              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1*(1000) %>">
								              	<h4 class="panel-title">
								                  <%= i.subject %>
								              	</h4>
								              </a>
								            </div>
								            <div id="collapse<%= index+1*(1000) %>" class="panel-collapse collapse">
								              <div class="panel-body">
								              	<div><strong><%= i.sender_address %>:</strong> </div>
								              	<div><blockquote><%= i.message %></blockquote> </div> 
								              </div>
								            </div>
								          </div>
								        <% end %>
								      </div>
								  	</div>	
							    </div>
						</div>	
				

			 	 </div> 	 
		</div>
		<div role="tabpanel" class="tab-pane col-sm-12 fade" id="search">
			<%= render partial: "layouts/search" %>
		</div>
</div>			  	