<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><%= link_to "Search", searches_path%></li>
</ul>
<div class="tab-content">
	    <div role="tabpanel"  class="tab-pane active col-sm-12 fade in" id="todays-games">

					<div class="col-sm-4  colPush">
						<%= render partial: "layouts/feed" %>
					</div>

					<div class="col-sm-8 colMain">
						<a id="trig" class="btn-info" style="display:block !important"><i class="fa fa-caret-left"></i></a>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="hidden"><%= link_to "New Email", emails_path %></li>
						<li role="presentation" class="active"><a href="#replay-review" aria-controls="replay-review" role="tab" data-toggle="tab" aria-expanded="true">New Replay</a></li>
					</ul>
					<div class="tab-content">
						    <div role="tabpanel" class="tab-pane col-sm-12 fade" id="email">
						    	
						    </div>
						    <div role="tabpanel" class="tab-pane col-sm-12 active fade in" id="replay-review">
						    	<h1>New Replay </h1>

						    	<%= simple_form_for $new_replay, :url => { :action => 'create'} do |r| %>
										<div class="col-sm-12 new-replay-cols" style="">

											<div class="col-sm-6">
												<div>
												<%= r.label :game_id, "Game" %>
												<%= r.select :game_id, options_for_select(@date, 1), {}, { class: 'date_select_new_replay date_select',:include_blank => 'Please Select' } %>
											</div>
											<div>
												<%= r.label :play_type %>
												<%= r.select :play_type, ["","force play","home run","tag play","catch / no catch","fair / foul", "violation of collision at home plate", "hit by pitch", "fan interference", "custom"], { class: 'form-control' } %>
												<%= r.select :tag_play_variation, ["","stolen base","pickoff","runner loses contact with base","batter: attempted extra bases","runner: advance between bases","tag-up: attempt to advance","errant throw"],input_html:{:id => "tag_play_variation"} %>
												<%= r.select :homerun_variation, ["","stadium boundaries","fair / foul","fan - interference"],input_html:{:id => "homerun_variation"} %>
												<%= r.select :force_play_variation, ["","timing","fielder maintaining contact w/bag","double play: call at 1B"],input_html:{:id => "force_play_variation"} %>
												<%= r.select :catch_no_catch_variation, ["","transfer at 2B","outfield: transfer","outfield: ball off wall", "outfield: trap play"],input_html:{:id => "catch_no_catch_variation"} %>
												<%= r.select :hit_by_pitch_variation, ["","hit by pitch"],input_html:{:id => "hit_by_pitch_variation"} %>
												<%= r.select :fair_foul_variation, ["","outfield"],input_html:{:id => "fair_foul_variation"} %>
												<%= r.select :fan_interference_variation, ["","foul ball", "bounding ball"],input_html:{:id => "fan_interference_variation"} %>
												

											</div>
											<div>
												<%= r.label :inning %>
												<%= r.select :inning, ["","T1","B1","T2","B2","T3","B3","T4","B4","T5","B5","T6","B6","T7","B7","T8","B8","T9","B9","T10","B10","T11","B11","T12","B12","T13","B13","T14","B14","T15","B15","T16","B16","T17","B17","T18","B18","T19","B19","T20","B20"] %>
											</div>
											<div>
												<%= r.label :outs %>
												<%= r.select :outs, ["","0","1","2"] %>
											</div>
											<div>
												<%= r.label :play_location %>
												<%= r.select :play_location, ["","HP","1B","2B","3B","LF","CF","RF"], :placeholder => "Play Location" %>
											</div>
											
										</div>
										<div class="col-sm-6">
											<div>
												<%= r.label :orig_ruling_on_field, "Original ruling on field" %>
												<%= r.select :orig_ruling_on_field, ["","Safe", "Out"], :placeholder => "Original Ruling on Field"%>
											</div>
											<div>
												<%= r.label :challenging_team %>
												<%= r.select :challenging_team, ["","Home","Away"] %>
											</div>
											<div>
												<%= r.label :replay_official_ruling %>
												<%= r.select :replay_official_ruling, ["","Confirmed","Stands","Overturned"] %>
											</div>
											<div>
												<%= r.label :type_of_challenge %>
												<%= r.select :type_of_challenge, [ "", "Manager's Challenge","Crew Chief Review"] %>
											</div>
											<div class="hidden">
												<%= r.label :call_after %>
												<%= r.select :call_after, [ "","Safe","Out"] %>
											</div>
											
											<!-- hidden to store other auto data-->
											<div class="hidden">
												<div class="hidden" >
													<%= r.label :game_start_time %>
													<%= r.input :game_start_time,:as => :time_picker,  input_html: {:class => 'replay_game_start_time'} %>
												</div>
												<div>
													<%= r.select :date, options_for_select(@date, 1), {}, { class: 'hidden' } %>
												</div>
												<div>
													<%= r.label :stadium %>
													<%= r.select(:stadium, @result.map {|v| [ v['venue']] }) %>
												</div>
												<div >
													<%= r.input :visiting_team, input_html: {:class => "replay_visiting_team"} %>
												</div>
												<div >
													<%= r.input :home_team,  input_html: {:class => 'replay_home_team'} %>
												</div>
												<div >
													<%= r.label :game_start_time %>
													<%= r.input :game_start_time,:as => :time_picker,  input_html: {:class => 'replay_game_start_time'} %>
												</div>
												<div style="">
													<%= r.label :hp_umpire, "HP Umpire" %>
													<%= r.input :hp_umpire,  input_html: {:class => 'hp_umpire'}, label: false %>
												</div>
												<div style="">
													<%= r.label :first_b_umpire, "1B Umpire" %>
													<%= r.input :first_b_umpire, input_html: {:class => 'first_b_umpire'},label: false %>
												</div>
												<div style="">
													<%= r.label :second_b_umpire, "2B Umpire" %>
													<%= r.input :second_b_umpire,  input_html: {:class => 'second_b_umpire'},label: false%>
												</div>
												<div style="">
													<%= r.label :third_b_umpire, "3B Umpire" %>
													<%= r.input :third_b_umpire, input_html: {:class => 'third_b_umpire'},label: false%>
												</div>
											</div><!--end hidden-->

										</div>
											
										</div>

										
										
										<div style="clear: both;float: right;width: 200px;margin-top:20px;">
											<%= r.submit "Create Replay", {:class => "btn btn-info lrg-btn"} %>
										</div>
									<% end %> 
						    </div>
						  </div>		  

				

			 	 </div> 	 
		</div>
		<div role="tabpanel" class="tab-pane fade" id="search">
			<%#= render partial: "layouts/search" %>
	   </div>
</div>			  	