<div class="">
                <div role="tabpanel" class="" id="replay-review">
                  <h1>Calendar</h1>
                  <%= link_to "Return to Replays", root_path%>
                  <div id="calendar">
                  <h2 id="month">
                    <%= link_to "<", date: @date.prev_month %>
                    <%= @date.strftime("%B %Y") %>
                    <%= link_to ">", date: @date.next_month %>
                  </h2>
                  <%= calendar @date do |date| %>
                    <%= date.day %>
                    <% if @calendar_by_date[date] %>
                      <ul>
                        <% @calendar_by_date[date].each do |calendar| %>
                          <li><%= link_to calendar.visiting_team + "/" + calendar.home_team, replay_path(calendar ,:anchor => "data") %>(<%= link_to calendar.id, replay_path(calendar ,:anchor => "data") %>)</li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
                </div>
              </div>