<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
  <li role="presentation" ><%= link_to "Today's Games", replay_path(Replay.last, :anchor => 'data')%></li>
  <li role="presentation" class="active"><%= link_to "Search", searches_path%></li>
</ul>
<div class="tab-content">
      <div role="tabpanel"  class="tab-pane  col-sm-12 fade" id="todays-games">

          <div class="col-sm-4  colPush">
            <%= render partial: "layouts/feed" %>
          </div>

          <div class="col-sm-8 colMain">
            <a id="trig" class="btn-info" style="display:block !important"><i class="fa fa-caret-left"></i></a>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="hidden"><%= link_to "New Email", emails_path %></li>
            <li role="presentation" class="active"><a href="#replay-review" aria-controls="replay-review" role="tab" data-toggle="tab" aria-expanded="true">New Replay</a></li>
          </ul>
          <div class="tab-content">
                <div role="tabpanel" class="tab-pane col-sm-12 fade" id="email">
                  
                </div>
                
              </div>      

        

         </div>    
    </div>
    <div role="tabpanel" class="tab-pane active fade in" id="search">
      <%= render partial: "layouts/search" %>
     </div>
</div>          