<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Visitor</Data></Cell>
        <Cell><Data ss:Type="String">Home</Data></Cell>
        <Cell><Data ss:Type="String">Time</Data></Cell>
        <Cell><Data ss:Type="String">HP</Data></Cell>
        <Cell><Data ss:Type="String">1B</Data></Cell>
        <Cell><Data ss:Type="String">2B</Data></Cell>
        <Cell><Data ss:Type="String">3B</Data></Cell>
        <Cell><Data ss:Type="String">Replay Official</Data></Cell>
        <Cell><Data ss:Type="String">Inning</Data></Cell>
        <Cell><Data ss:Type="String">Score</Data></Cell>
        <Cell><Data ss:Type="String">In Favor Of</Data></Cell>
        <Cell><Data ss:Type="String">Outs</Data></Cell>
        <Cell><Data ss:Type="String">Runners</Data></Cell>
        <Cell><Data ss:Type="String">Challenge</Data></Cell>
        <Cell><Data ss:Type="String">Calling Umpire</Data></Cell>
        <Cell><Data ss:Type="String">Play Description</Data></Cell>
        <Cell><Data ss:Type="String">Play Type</Data></Cell>
        <Cell><Data ss:Type="String">Play Location</Data></Cell>
        <Cell><Data ss:Type="String">Headset Umpire 1</Data></Cell>
        <Cell><Data ss:Type="String">Headset Umpire 2</Data></Cell>
        <Cell><Data ss:Type="String">Replay Offical Ruling</Data></Cell>
        <Cell><Data ss:Type="String">Home</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= replay.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.visiting_team %></Data></Cell>
        <Cell><Data ss:Type="String"><%= replay.home_team %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>