#wrap{
padding-bottom:0;
padding-left: 70px;
transition: all .4s ease 0s;
padding-top:20px;
}
label abbr{
  display:none;
}
h1{
  font-size:2em;
  border-bottom:1px solid $brand-primary;
  padding-bottom:15px;
}
h5{
  border-bottom:1px solid $brand-primary;
  padding-bottom:15px;
}
.generator .form-control{
  display:inline ;
    margin-top: 5px;
  }
.panel-collapse {
  .panel-collapse{
    
  }
  .panel-heading{
    background:white;
    border-bottom:1px solid $brand-secondary;
    border-top:1px solid $brand-secondary;
  }
}

.blue-dropdown{
  background:#428bca;
  color:white !important;
}
.btn-primary{
  color:black;
}
.btn-info{
  margin-top: 5px;
}
.sidebar{
  
}
.time-select select{
  width:45%;
  display: inline-block;
}
.time-select select:nth-child(1),.time-select select:nth-child(2),.time-select select:nth-child(3){
  display:none;
}
.replay_time_of_play label, .replay_time_from_review_to_ruling label, .replay_time_from_call_to_next_pitch label, .replay_time_from_call_to_review label, .replay_time_on_headset label{
    display: block !important;
}
.blue-box a:hover{
  text-decoration:none;
}
.blue-box p{
  color:black !important;
}
.colMain{
  transition: all .4s ease 0s;
}
.colMain.active{
  width:100%;
}
.colPush.active{
  width:0;
  
}
.tab-content > .active{
  overflow:scroll;
    width: 100%;
}
label[for="replay_time_on_headset_4i"] {
   width:100%
}
.row div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}
input{
  padding:10px;
  border:1px solid;
  border-radius:2px;
}
.input-group, input, select, textarea{
  width:100%;
}
input[type="text"]{
  font-style:italic;
}
textarea{
  height:100px;
}
label{
  padding: 0px;
  margin:0px;
}
label.date_picker, label.time_picker, label.datetime_picker{
  display:none
  }
@media screen and (min-width: 1000px) {
    input{
      border:1px solid;
      border-radius:2px;
    }
    label{
      padding: 5px;
      padding-left:0;
    }
    input[type="submit"]{
      width:200px;
      position:relative;
    }
  }
abbr[title], abbr[data-original-title]{
  border:none;
}

body{
  
  background:white;
  color:black;
}
.form-control{
  color:black;
}
.confirm-ruling{
 height:90px;
}
.confirm-ruling-submit input{
width:100% !important;
}

.sidebar .collapse.in{
  background:azure;
}

.new-replay-header span:last-child{
  float:right;
}
.email-gen{
  margin:20px 0;
}
.email-gen span{
  font-weight:bold;
}
.email-gen select{
  width:auto;
  margin-left:10px
}
.feed-sort, .feed-sort span{
  display:block;
 
  float:left;
}
.feed-sort label{
  padding:0px !important;
  margin-left:5px;
}
.feed-sort input, {
  width:auto !important;
}
.feed-datepicker input{
    width: 40px;
  border: none;
  background: none;
}
.feed-datepicker button{
position:absolute;
  z-index:100;
  border: none;
  background: none;
}
.feed-datepicker button:hover{
  background:none;
}
.feed-datepicker .glyphicon, .feed-datepicker .date_picker{
  float:left !important;
}
.feed-datepicker .input-group-btn{
  top:0;
}
.feed-datepicker .input-group{
  width:auto;
  margin-top: -4px;
}

.toHide{
  clear:both;
}
#trig{
    position: absolute;
  top: 41px;
  z-index: 100;
  padding: 0px 4px;
  margin: 0;
  cursor:pointer;
}
.fa-calendar:before{
  color:$brand-primary
}
.fa-2{
  font-size:2.2em;
}
.new-replay-cols{
  color:white;padding:20px 0;background:#428bca;  margin-bottom: 10px;
}
.new-replay-cols div{
}
.generator input[type="text"]{
    height: 35px;
}
#replay-review .col-sm-12{
  margin-top:20px;
}
.verify-fields select{
  display:none;
}
/****** BTNS ******/

.sign-in-btn, {
  padding: 20px;
  width: 100%;
  height:90px;
}
.btn{
  font-weight:bold;
}

.lrg-btn{
  padding: 20px;
  min-width:150px;
  font-weight: bold;
}

.tab-pane{
  border: 1px solid #ddd;
  padding: 20px;
  border-top:none;
  float:left;
}

.new-replay-header{
  height:30px; 
  
  a:first-child{
  float:left;
  }
  a:last-child{
  float:right;
  }
}

.fa-calendar{
  font-size:25px;
}

/****** NAV ******/

.navbar{
  background:$brand-primary;
}
.nav a{
  
}
.navbar-inverse{
  border:none;
}
#search .nav-tabs > li {
  width: 33.3%;
}
.nav-tabs > li {
  width: 25%;
  text-align: center;
  text-transform:uppercase;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-tabs > li {
  width:50%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color:white !important;
  color:none;
}
.navbar-inverse .navbar-nav > li > a{
  color:white;
  background:$brand-primary;
}
.navbar-inverse .navbar-collapse{padding:0;}
header{margin-bottom:20px;}

/****** DATETIME PICKER ******/
.input-group-btn{
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: 0;
  white-space: nowrap;
}
.bootstrap-datetimepicker-widget table {background:white}

.new_replay .col-sm-3 div{
  margin:20px 0;

  div{
  margin:0;
  }
}

/****** DATA ENTRY GRID ******/
.tg  {border-collapse:collapse;border-spacing:0;width:100%}
.tg td{padding:10px 5px;border-right:1px solid white;overflow:hidden;word-break:normal;}
.tg .td{width:50%}
.tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}

.tg .tg-tvhl{text-align:right;border-right:1px solid #ccc;font-weight:bold;}

.tg .tg-0ord{text-align:right}
.tg .tg-efv9{}
.tg .tg-3768{text-align:right;font-weight:bold;}
.tg .tg-1u2s{}


.tg tr:nth-child(even){
  background:#e0e0e0;
}

/****** SEARCH GRID ********/

.search-panel table{
  background-color:none !important;
  background:none !important;
  font-size:10px;
}
.generator {
  border: 1px solid #ccc;
  padding: 20px;
  display: block;

  select, input{width:auto}
}
.replay_playlocation,.replay_playlocation_2{
  width:50px !important;
}