@mixin icon-dimensions {
  width: 16px;
  height: 16px;
}

.wg-detached-filter, .wice-grid{

  .text-filter-container {
    input{
      width:auto;
      margin-right: 10px;
      display: inline;
    }
  }

  a.date-label {text-decoration: none;}
  a.date-label:hover {text-decoration: line-through;}

  .clickable{
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  .ui-datepicker-trigger, .wg-detached-filter .ui-datepicker-trigger{
    cursor: pointer;
  }

  .custom-dropdown-container {

    .expand-multi-select-icon, .collapse-multi-select-icon{
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
    }

    .collapse-multi-select-icon{
      background: transparent image-url("icons/grid/collapse.gif") no-repeat;
    }

    .expand-multi-select-icon{
      background: transparent image-url("icons/grid/expand.gif") no-repeat;
    }

  }
}

.wice-grid{

  td{
    max-height:50px;
    overflow:hidden;
  }
  .odd, .even{
  &:hover{
    background:#eee;
    }
  }

  .desc,  .asc{
    padding-right: 18px;
    text-decoration:none;
  }

  .desc {
    background: transparent image-url("icons/grid/arrow_down.gif") right no-repeat
  }
  .asc  {
    background: transparent image-url("icons/grid/arrow_up.gif")   right no-repeat
  }

  .submit.clickable{
    background: transparent image-url("icons/grid/table_refresh.png") no-repeat;
    @include icon-dimensions;
  }

  .reset.clickable{
    background: transparent image-url("icons/grid/table.png") no-repeat;
    @include icon-dimensions;
  }


  .wg-show-filter.clickable,
  .wg-hide-filter.clickable{
    background: transparent image-url("icons/grid/page_white_find.png") no-repeat;
    @include icon-dimensions;
  }


  .export-to-csv-button.clickable{
    background: transparent image-url("icons/grid/page_white_excel.png") no-repeat;
    @include icon-dimensions;
  }

  .clickable.select-all{
    background: transparent image-url("icons/grid/tick_all.png") no-repeat;
    @include icon-dimensions;
    float:left;
  }

  .clickable.deselect-all{
    background: transparent image-url("icons/grid/untick_all.png") no-repeat;
    @include icon-dimensions;
    float:left;
  }


  /* in case of twitter bootstrap :) */
  thead th select{
    width: auto;
  }

  .pagination{
    margin: 0px;
    float: left;
  }


  tr.wg-filter-row  input[type=text] {
    width: 100px;
  }

  .pagination_status {
    font-weight: bold;
    float: right;
  }

}

.wice-grid-query-panel{
  li {list-style-type: none; }

  ul {margin-left: 0 }

  a.wice-grid-delete-query .delete-icon{
    background: transparent image-url("icons/grid/delete.png") no-repeat;
    float: left;
    @include icon-dimensions;
  }
}

input.wice-grid-save-query-field{
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

