<% title("Emails") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><a href="#search" aria-controls="search" role="tab" data-toggle="tab" aria-expanded="false">Search</a></li>
</ul>
<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active col-sm-12" id="todays-games">

					<div class="col-sm-4">
						<div class="new-replay-header">
							
							<a href=""><i class="fa fa-calendar"></i></a> 
							<%= link_to "New Replay <i class='fa fa-plus-square'></i>".html_safe, new_replay_path  %>
						</div>
						<%= render partial: "layouts/feed" %>
					</div>
					<div class="col-sm-8">



					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class=""><a href="#email" aria-controls="email" role="tab" data-toggle="tab" aria-expanded="false">Email</a></li>
						<li role="presentation" class="active"><a href="#replay-review" aria-controls="replay-review" role="tab" data-toggle="tab" aria-expanded="true">Replay Review</a></li>
					  <li role="presentation" class=""><a href="#data" aria-controls="data" role="tab" data-toggle="tab" aria-expanded="false">Data Entries</a></li>
					</ul>
					<div class="tab-content">
						    <div role="tabpanel" class="tab-pane col-sm-12" id="email">
						    	
						    </div>
						    <div role="tabpanel" class="tab-pane col-sm-12" id="data">
						    	
						    </div>
						    <div role="tabpanel" class="tab-pane active col-sm-12" id="replay-review">
						    	<h1>Choose a Replay</h1>
						    	
						    </div>
						  </div>		  

				

			 	 </div> 	 
		</div>
		<div role="tabpanel" class="tab-pane" id="search">

	    	<% @result.each do |r|%>

	    	<%= r['day'] %>
	    	<% end %><br>
	    	<%= @result[0]['game_id'] %>
	    </div>
</div>			  	