<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><%= link_to "Search", searches_path%></li>
</ul>
<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="todays-games">

					<div class="col-sm-4 colPush">
						<%= render partial: "layouts/feed" %>
					</div>
					<div class="col-sm-8 colMain">
						<a id="trig" class="btn-info" style="display:block !important"><i class="fa fa-caret-left"></i></a>
						<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#email" aria-controls="email" role="tab" data-toggle="tab" aria-expanded="true">New Email</a></li>
						<li role="presentation" class=""><%= link_to "New Replay", new_replay_path %></li>
					  <!--<li role="presentation" class=""><a href="#email" aria-controls="email" role="tab" data-toggle="tab" aria-expanded="false">Email</a></li>-->
					</ul>
					<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active fade in" id="email">
						    	<div class="">
						    		<div class="">
							    	<%= simple_form_for $new_email, :url => { :action => 'create'} do |e| %>
										<div class="col-sm-6">
											<div>
												<%= e.text_field :replay_id, :value => @this_replay, :class => "hidden" %>
											</div>
											<div class="row">
												
												<div class="col-sm-6">
												<%= e.label :receiver_address, "Send to:" %>
												<%= e.text_field :receiver_address, :required => true, :placeholder => "(add comma for multiples)" %>
												</div>
												<div class="col-sm-6">
												<%= e.label :cc, "CC:" %>
												<%= e.text_field :cc,:input => "squonklabs@gmail.com", :placeholder => "(add comma for multiples)" %>
												</div>
											</div>
											<div>
												<%= e.label :subject %>
												<%= e.text_field :subject, value: (@this_replay) %>
											</div>
											<div>
												<%= e.label :message %>
												<%= e.text_area :message, :required => true, :input => "" %>
											</div>
											<div><%= e.submit "Send Email", {:class => "btn btn-info lrg-btn"} %></div>
											

										</div>
										<% end %>
										<div class="generator col-sm-6">
											
											<h4>Create Replay</h4>
									      	<%= simple_form_for $new_replay do |r| %>
									      	We have a <%= r.select(:type_of_challenge, ["Manager's Challenge", "Umpire Review"]) %> in <%= r.select(:visiting_team, @result.map {|v| [ v['away_team_name']] }) %> vs. <%= r.select(:home_team, @result.map {|v| [ v['home_team_name']] }) %>: <%= r.select :inning, ["T1","B1","T2","B2","T3","B3","T4","B4","T5","B5","T6","B6","T7","B7","T8", "B8", "T9", "B9", "T10", "B10", "T11", "B11", "T12", "B12", "T13", "B13", "T14", "B14", "T15", "B15", "T16", "B16", "T17", "B17", "T18", "B18", "T19", "B19", "T20", "B20"] %>, <%= r.select :outs, ["0","1","2","3"] %>out(s), <%= r.select :runners_on, ["No runners on","runner on 1B","runner on 2B","runner on 3B","runners on 1B and 2B","runners on 1B and 3B","runners on 2B and 3B","bases loaded"] %>. <%= r.select(:visiting_team, @result.map {|v| [ v['away_team_name']] }) %> Player Name <%= r.select :runners_on, ["hits a ground ball","hits a fly ball", "attempts to steal"] %> to <%= r.select(:home_team, @result.map {|v| [ v['home_team_name']] }) %> Player Name ruled a <%= r.select :orig_ruling_on_field, ["Safe","Out","Hit By Pitch","Not Hit By Pitch","Fair","Foul","Homerun","Not Homerun"], :placeholder => "Original Ruling on Field"%>. After review, the Replay official, <%= r.select :first_b_umpire, ["Baker","Barksdale","Barber","Barrett, L.","Barrett, T.","Barry","Basner","Bellino","Blaser","Buckminster","Bucknor","Byrne","Campos","Carapazza","Carlson","Cederstrom","Conroy","Cooper","Culbreth","Cuzzi","Danley","Davidson","Davis","DeMuth","Diaz","DiMuro","Drake","Dreckman","Eddings","Emmel","Estabrook","Everitt","Fagan","Fairchild","Fletcher","Foster","Gibson, G.","Gibson, H.","Gonzalez","Gorman","Gosney","Guccione","Hallion","Hamari","Hernandez","Hickox","Hirschbeck","Hoberg","Holbrook","Hoye","Hudson","Iassogna","Johnson, Ad.","Johnson, An.","Joyce","Kellogg","Knight","Kulpa","Layne","Little","Marquez","May","Meals","Miller","Morales","Muchlinski","Nauert","Nelson","O'Nora","Pattillo","Porter","Rackley","Randazzo","Reyburn","Reynolds","Ripperger","Scheurwater","Schrieber","Scott","Segal","Tichenor","Timmons","Tumpane","Vanover","Wegner","Welke, B.","Welke, T.","Wendelstedt","West","Whitson","Winters","Wolcott","Wolf","Woodring"] %>, rules that the call <%= r.select :replay_official_ruling, ["is Confirmed","Stands","is Overturned","Record Keeping"]  %>.<br><br>
									      	<div><%= r.submit "Create New Replay", {:class => "btn btn-info"} %></div>
									      	<% end %>
									      </div>
							    </div>
							    <div role="tabpanel" class="tab-pane col-sm-12 fade" id="replay-review">
							    	
							    </div>
							  </div>
						  </div>		  

				

			 	 </div> 	 
		</div>
	</div>
		<div role="tabpanel" class="tab-pane fade" id="search">
			<%= render partial: "layouts/search" %>
	   </div>
</div>			  	