<% title("Replay") %>
<ul class="nav nav-tabs main-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todays-games" aria-controls="todays-games" role="tab" data-toggle="tab" aria-expanded="true">Todays Games</a></li>
  <li role="presentation" class=""><%= link_to "Search", searches_path%></li>
</ul>
<div class="tab-content ">
	    <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="todays-games">

					<div class="col-sm-4 colPush">
						<%= render partial: "layouts/feed" %>

					</div>
					<div class="col-sm-8 colMain">
						<a id="trig" class="btn-info" style="display:block !important"><i class="fa fa-caret-left"></i></a>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#email" aria-controls="email" role="tab" data-toggle="tab" aria-expanded="true">Email</a></li>
							<li role="presentation" class=""><a href="#replay-review" aria-controls="ereplay-review" role="tab" data-toggle="tab" aria-expanded="true">Replay Review</a></li>
							<li role="presentation" class=""><%= link_to("Extra Data",replay_path(@this_replay ,:anchor => "extra-data"))%></li>
						  <li role="presentation" class=""><%= link_to("Data Entries",replay_path(@this_replay ,:anchor => "data"))%></li>
						</ul>
						<div class="tab-content">
							    <div role="tabpanel"  class="tab-pane active col-sm-12 fade in" id="email">
							   
							    	<%= render 'layouts/emails'  %>
							    	
							    </div>
							    <div role="tabpanel" class="tab-pane col-sm-12 fade" id="data">
							    	
						    			<%= render partial: "layouts/data_entries"  %>
						    		
						    	</div>
						    	<div role="tabpanel" class="tab-pane col-sm-12 fade" id="extra-data">
							    	<%#= render partial: "layouts/extra_data" %>
						    	</div>
							    <div role="tabpanel" class="tab-pane col-sm-12 fade" id="replay-review">

							    	
								    	<h1>Replay #<%= @this_replay.id %></h1>
								    	
								    <div class="col-sm-12">
								    	<div class="panel-group" id="accordion">
								      <% @replay_emails.each_with_index do |i, index| %>
								          <div class="panel panel-default">
								            <div class="panel-heading">
								              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1*(1000) %>">
								              	<h4 class="panel-title">
								                  <%= i.subject %>
								              	</h4>
								              </a>
								            </div>
								            <div id="collapse<%= index+1*(1000) %>" class="panel-collapse collapse">
								              <div class="panel-body">
								              	<div><strong><%= i.sender_address %>:</strong> </div>
								              	<div><blockquote><%= i.message %></blockquote> </div> 
								              </div>
								            </div>
								          </div>
								        <% end %>
								      </div>
								  	</div>	
							    </div>
						</div>	
				

			 	 </div> 	 
		</div>
		<div role="tabpanel" class="tab-pane col-sm-12 fade" id="search">
			<%#= render partial: "layouts/search" %>
		</div>
</div>			  	