
<div class=" confirmed-ruling">
<% if @confirmed.confirmed_ruling.present? %>	
	<%= simple_form_for @confirmed,:url => { :controller => "confirmed", :action => "update" } do |r| %>
		<div class="verify-fields" >
			<%=r.select :confirmation_official, ["Baker","Barksdale","Barber","Barrett, L.","Barrett, T.","Barry","Basner","Bellino","Blaser","Buckminster","Bucknor","Byrne","Campos","Carapazza","Carlson","Cederstrom","Conroy","Cooper","Culbreth","Cuzzi","Danley","Davidson","Davis","DeMuth","Diaz","DiMuro","Drake","Dreckman","Eddings","Emmel","Estabrook","Everitt","Fagan","Fairchild","Fletcher","Foster","Gibson, G.","Gibson, H.","Gonzalez","Gorman","Gosney","Guccione","Hallion","Hamari","Hernandez","Hickox","Hirschbeck","Hoberg","Holbrook","Hoye","Hudson","Iassogna","Johnson, Ad.","Johnson, An.","Joyce","Kellogg","Knight","Kulpa","Layne","Little","Marquez","May","Meals","Miller","Morales","Muchlinski","Nauert","Nelson","O'Nora","Pattillo","Porter","Rackley","Randazzo","Reyburn","Reynolds","Ripperger","Scheurwater","Schrieber","Scott","Segal","Tichenor","Timmons","Tumpane","Vanover","Wegner","Welke, B.","Welke, T.","Wendelstedt","West","Whitson","Winters","Wolcott","Wolf","Woodring"],{}, {:disabled => true} %>
			<%= r.select :confirmed_ruling, ["Confirmed","Stands","Overturned","Record Keeping"],{}, {:disabled => true} %>
		</div>
</div>  

<div class=" confirm-ruling-submit">
	<%= r.submit "Verified", {:class => "btn disabled btn-success verify-ruling lrg-btn"} %>
	<% end %>
	
</div>
<% else %>
	<%= simple_form_for @confirmed,:url => { :controller => "confirmed", :action => "update" } do |r| %>
		<div class="verify-fields" >
			<%=r.select :confirmation_official, ["Baker","Barksdale","Barber","Barrett, L.","Barrett, T.","Barry","Basner","Bellino","Blaser","Buckminster","Bucknor","Byrne","Campos","Carapazza","Carlson","Cederstrom","Conroy","Cooper","Culbreth","Cuzzi","Danley","Davidson","Davis","DeMuth","Diaz","DiMuro","Drake","Dreckman","Eddings","Emmel","Estabrook","Everitt","Fagan","Fairchild","Fletcher","Foster","Gibson, G.","Gibson, H.","Gonzalez","Gorman","Gosney","Guccione","Hallion","Hamari","Hernandez","Hickox","Hirschbeck","Hoberg","Holbrook","Hoye","Hudson","Iassogna","Johnson, Ad.","Johnson, An.","Joyce","Kellogg","Knight","Kulpa","Layne","Little","Marquez","May","Meals","Miller","Morales","Muchlinski","Nauert","Nelson","O'Nora","Pattillo","Porter","Rackley","Randazzo","Reyburn","Reynolds","Ripperger","Scheurwater","Schrieber","Scott","Segal","Tichenor","Timmons","Tumpane","Vanover","Wegner","Welke, B.","Welke, T.","Wendelstedt","West","Whitson","Winters","Wolcott","Wolf","Woodring"], {:class => "hidden", :style => "width:auto"} %>
			<%= r.select :confirmed_ruling, ["Confirmed","Stands","Overturned","Record Keeping"], {:class => "btn disabled btn-info verify-ruling lrg-btn", :style => "width:auto"}%>
		</div>
</div>  

<div class=" confirm-ruling-submit">
	<%= r.submit "Verify Ruling", :class => "btn btn-info verify-ruling lrg-btn", data: { confirm: "Please confirm you want to send the email?" } %>

	<% end %>
	
</div>
<% end %>
<p></p>