
<div style="clear:both">
  <h1>Replay #<%= @this_replay.id %> <button style="font-size:12px;float:right"><%=link_to_if current_user.id <= 11, "Edit Replay", edit_replay_path(@this_replay)%></button></h1>
 
<table class="tg" style="undefined;table-layout: fixed;">
<colgroup>
<col style="col-sm-4">
<col style="col-sm-4">
</colgroup>
  <tr>
    <td class="tg-tvhl">Type of Challenge</th>
    <td class="tg-1u2s"><%= @this_replay.type_of_challenge %></th>
  </tr>
  <tr>
    <td class="tg-3768">Play Type</td>
    <td class="tg-031e"><%= @this_replay.play_type %></td>
  </tr>
  <% if @this_replay.homerun_variation.present? %>
  <tr>
    <td class="tg-tvhl">Home Run Variation</th>
    <td class="tg-1u2s"><%= @this_replay.homerun_variation %></th>
  </tr>
  <%end%>
  <% if @this_replay.tag_play_variation.present? %>
  <tr>
    <td class="tg-3768">Tag Play Variation</td>
    <td class="tg-031e"><%= @this_replay.tag_play_variation if @this_replay.tag_play_variation.present? %></td>
  </tr>
  <%end%>
  <% if @this_replay.force_play_variation.present? %>
  <tr>
    <td class="tg-3768">Force Play Variation</td>
    <td class="tg-031e"><%= @this_replay.force_play_variation if @this_replay.force_play_variation.present? %></td>
  </tr>
  <%end%>
  <% if @this_replay.hit_by_pitch_variation.present? %>
  <tr>
    <td class="tg-3768">Hit By Pitch Variation</td>
    <td class="tg-031e"><%= @this_replay.hit_by_pitch_variation if @this_replay.hit_by_pitch_variation.present? %></td>
  </tr>
  <%end%>
  <% if @this_replay.fair_foul_variation.present? %>
  <tr>
    <td class="tg-3768">Fair / Foul Variation</td>
    <td class="tg-031e"><%= @this_replay.fair_foul_variation if @this_replay.fair_foul_variation.present? %></td>
  </tr>
  <%end%>
  <% if @this_replay.violation_of_collision_variation.present? %>
  <tr>
    <td class="tg-3768">Violation of Collision at Home Plate Variation</td>
    <td class="tg-031e"><%= @this_replay.violation_of_collision_variation if @this_replay.violation_of_collision_variation.present? %></td>
  </tr>
  <%end%>
  <% if @this_replay.catch_no_catch_variation.present? %>
  <tr>
    <td class="tg-3768">Catch / No Catch Variation</td>
    <td class="tg-031e"><%= @this_replay.catch_no_catch_variation if @this_replay.catch_no_catch_variation.present? %></td>
  </tr>
  <%end%>

  <tr>
    <td class="tg-tvhl">Original Ruling on Field</td>
    <td class="tg-1u2s"><%= @this_replay.orig_ruling_on_field %></td>
  </tr>
  <tr>
    <td class="tg-3768">Replay Official Ruling</td>
    <td class="tg-031e"><%= @this_replay.replay_official_ruling %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Visiting Team</th>
    <td class="tg-1u2s"><%= @this_replay.visiting_team %></th>
  </tr>
  <tr>
    <td class="tg-3768">Home Team</td>
    <td class="tg-efv9"><%= @this_replay.home_team %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Game Start Time</td>
    <td class="tg-1u2s"><%= @this_replay.game_start_time.strftime("%I:%M %p") %></td>
  </tr>
  <tr>
    <td class="tg-3768">HP Umpire</td>
    <td class="tg-efv9"><%= @this_replay.hp_umpire %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">1B Umpire</td>
    <td class="tg-1u2s"><%= @this_replay.first_b_umpire %></td>
  </tr>
  <tr>
    <td class="tg-3768">2B Umpire</td>
    <td class="tg-efv9"><%= @this_replay.second_b_umpire %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">3B Umpire</td>
    <td class="tg-1u2s"><%= @this_replay.third_b_umpire %></td>
  </tr>
  <tr>
    <td class="tg-3768">Replay Official</td>
    <td class="tg-efv9"><%= @this_replay.replay_official %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Inning</td>
    <td class="tg-1u2s"><%= @this_replay.inning %></td>
  </tr>
  <tr>
    <td class="tg-3768">Score</td>
    <td class="tg-efv9"><%= @this_replay.score %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">In Favor Of</td>
    <td class="tg-1u2s"><%= @this_replay.in_favor_of %></td>
  </tr>
  <tr>
    <td class="tg-3768">Outs</td>
    <td class="tg-031e"><%= @this_replay.outs %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Runner(s) On</td>
    <td class="tg-1u2s"><%= @this_replay.runners_on %></td>
  </tr>
  
 <tr>
    <td class="tg-3768">Game Date</td>
    <td class="tg-efv9"><%= @this_replay.date.strftime("%m/%d/%Y") %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Calling Umpire</td>
    <td class="tg-1u2s"><%= @this_replay.calling_umpire %></td>
  </tr>
  <tr>
    <td class="tg-3768">Play Description</td>
    <% if @get_replay_email.present? %>
    <td class="tg-031e"><%= @get_replay_email.message %></td>
    <%end%>
  </tr>
  <tr>
    <td class="tg-tvhl">Headset Ump 1</td>
    <td class="tg-1u2s"><%= @this_replay.headset_ump1 %></td>
  </tr>
  <tr>
    <td class="tg-3768">Headset Ump 2</td>
    <td class="tg-031e"><%= @this_replay.headset_ump2 %></td>
  </tr>
  
  <tr>
    <td class="tg-tvhl">Placement of Runners</td>
    <td class="tg-1u2s"><%= @this_replay.placement_of_runners %></td>
  </tr>
  <tr>
    <td class="tg-3768">Was Ruling Correct?</td>
    <td class="tg-031e"><%= @this_replay.was_ruling_correct %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Time from call to review</td>
    <td class="tg-1u2s"><%= @this_replay.time_from_call_to_review%></td>
  </tr>
  <tr>
    <td class="tg-3768">Time on headset</td>
    <td class="tg-031e"><%= @this_replay.time_on_headset %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Time from call to next pitch</td>
    <td class="tg-1u2s"><%= @this_replay.time_from_call_to_next_pitch %></td>
  </tr>
   <tr>
    <td class="tg-3768">Challenging Team</td>
    <td class="tg-031e"><%= @this_replay.challenging_team %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Time from review to ruling</td>
    <td class="tg-1u2s"><%= @this_replay.time_from_review_to_ruling %></td>
  </tr>
  <tr>
    <td class="tg-3768">Time of play</td>
    <% if @this_replay.time_of_play.present? %>
    <td class="tg-031e"><%= @this_replay.time_of_play.strftime("%I:%M %p") %></td>
    <%end%>
  </tr>
  <tr>
    <td class="tg-tvhl">Play Location</td>
    <td class="tg-1u2s"><%= @this_replay.play_location %></td>
  </tr>
  <tr>
    <td class="tg-3768">Stadium</td>
    <td class="tg-031e"><%= @this_replay.stadium %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Admin</td>
    <td class="tg-1u2s"><%= @this_replay.admin %></td>
  </tr>
  <tr>
    <td class="tg-3768">Replay Tech</td>
    <td class="tg-031e"><%= @this_replay.replay_tech %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Definitive Angle</td>
    <td class="tg-1u2s"><%= @this_replay.definitive_angle %></td>
  </tr>
  <tr>
    <td class="tg-3768">Cameras Available</td>
    <td class="tg-031e"><%= @this_replay.cameras_available %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Notes</td>
    <td class="tg-1u2s"><%= @this_replay.notes %></td>
  </tr>
  <tr>
    <td class="tg-3768">Video Link</td>
    <td class="tg-031e"><%= @this_replay.video_link %></td>
  </tr>
  <tr>
    <td class="tg-tvhl">Screenshot Link</td>
    <td class="tg-1u2s"><a target="_blank" href="<%= @this_replay.screenshot_link %>"><%= @this_replay.screenshot_link %></a></td>
  </tr>

</table>
</div>