
<%= simple_form_for @new_email, :url => { :action => 'create'} do |e| %>
	<div class="col-sm-12">
		<div>
			<%= e.text_field :replay_id, :value => @this_replay.id, :class => "hidden" %>
		</div>
		<%=@sender%>
		<div class="row">
			<div class="col-sm-6 hidden">
			<%= e.text_field :sender_address, :value => current_user.email %>
			</div>
			<div class="col-sm-6">
			<%= e.label :receiver_address, "Send to:" %>
			<%= e.text_field :receiver_address, :required => true, :placeholder => "(add comma for multiples)" %>
			</div>
			<div class="col-sm-6">
			<%= e.label :cc, "CC:" %>
			<%= e.text_field :cc, :placeholder => "(add comma for multiples)" %>
			</div>
		</div>
		<div>
			<%= e.label :subject %>
			<%= e.text_field :subject, placeholder: "New Subject" %>
		</div>
		<div>
			<%= e.label :message %>
			<%= e.text_area :message, :required => true, :input => "" %>
		</div>
		<div><%= e.submit "Send Email", {:class => "btn btn-info lrg-btn",data: { confirm: "Please confirm you want to send the email?" }} %></div>
		<div class="email-gen">
		
		</div>
		
	</div>
	<% end %>

	<div class="generator" style="border:none">
		
<select class="hidden" id="game_select" style="display:block">
	<option data-count="0"  selected="selected" value="<%= @this_replay.game_id%>"><%= @this_replay.game_id%></option>
	<%# @game_id.each_with_index do | g, index | %>
	
	<!--<option data-count="<%#= index+1 %>"><%#= g%></option>-->
	
	<%#end%>
</select>
<p class="challenging_team_output"><%#=@this_replay.challenging_team%></p>
<h4>Email Generator</h4>
	
<select name="replay[playtype]" id="replay_play_type" >
	<option value="">Select Playtype</option>
	<option value="force play"> force play </option>
	<option value="home run"> home run </option>
	<option value="tag play"> tag play </option>
	<option value="catch / no catch"> catch / no catch </option>
	<option value="fair / foul"> fair / foul </option>
	<option value="violation of collision at home plate">violation of collision at home plate </option>
	<option value="hit by pitch">hit by pitch </option>
	<option value="fan interference">fan interference</option>
	<option selected="selected"  value="<%= @this_replay.play_type%>"><%= @this_replay.play_type%></option>
</select>

<!-- variations -->
<select name="replay[variation]" id="replay_force_play_variation" >
	<option value="timing">timing</option>
	<option value="fielder maintaining contact w/bag">fielder maintaining contact w/bag</option>
	<option value="double play: call at 1B">double play: call at 1B</option>
	<option selected="selected"  value="<%= @this_replay.force_play_variation%>"><%= @this_replay.force_play_variation%></option>
</select>
<select name="replay[variation]" id="replay_homerun_variation" >
	<option value="stadium boundaries"> stadium boundaries</option>
	<option value="fair / foul"> fair / foul</option>
	<option value="fan - interference"> fan - interference</option>
	<option selected="selected"  value="<%= @this_replay.homerun_variation%>"><%= @this_replay.homerun_variation%></option>
</select>

<select name="replay[variation]" id="replay_tag_play_variation" >
	<option value="stolen base">stolen base</option>
	<option value="runner loses contact with base">runner loses contact with base</option>
	<option value="pickoff">pickoff</option>
	<option value="batter: attempted extra bases">batter: attempted extra bases</option>
	<option value="runner: advance between bases">runner: advance between bases</option>
	<option value="tag-up: attempt to advance">tag-up: attempt to advance</option>
	<option value="errant throw">errant throw</option>
	<option selected="selected"  value="<%= @this_replay.tag_play_variation%>"><%= @this_replay.tag_play_variation%></option>
</select>
<select name="replay[variation]" id="replay_fan_interference_variation" >
	<option value="foul ball">foul ball</option>
	<option value="bounding ball"> bounding ball</option>
	<option selected="selected"  value="<%= @this_replay.fan_interference_variation%>"><%= @this_replay.fan_interference_variation%></option>
</select>
<select name="replay[variation]" id="replay_fair_foul_variation" >
	<option value="outfield"> outfield</option>
	<option selected="selected"  value="<%= @this_replay.fair_foul_variation%>"><%= @this_replay.fair_foul_variation%></option>
</select>

<select name="replay[variation]" id="replay_catch_no_catch_variation" >
	<option value="transfer at 2B"> transfer at 2B</option>
	<option value="outfield: transfer"> outfield: transfer</option>
	<option value="outfield: ball off wall"> outfield: ball off wall</option>
	<option value="outfield: trap play"> outfield: trap play</option>
	<option selected="selected"  value="<%= @this_replay.catch_no_catch_variation%>"><%= @this_replay.catch_no_catch_variation%></option>
</select>

<form class="simple_form new_replay " id="form_force_play" action="/replays" accept-charset="UTF-8" method="post">
		<input name="utf8" type="hidden" value="&#x2713;" />
		<input type="hidden" name="authenticity_token" value="" />
	<span class="hidden">We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge"><option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
<option value="Crew Chief Review">Crew Chief Review</option>
<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option></select> in the 
<select class="date_select" name="replay[date]" >
<option value=""></option>
</select>
game :
<select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select>out(s), 
<!--<select name="replay[runners_before]" class="replay_runners_before">
	<option value="No runners on">No runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
	<option selected value="<%#=@this_replay.runners_on%>"><%#=@this_replay.runners_on%></option>
</select>-->. 
</span> <!-- end hide first sentence -->

<select style="" name="replay[visiting_team]" class="replay_visiting_team_select blue-dropdown" type="text" value="">
	<option>Choose Offense</option>
</select>

<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>

<select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option selected value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select>
 to 
<select style="background:#428bca;color:white" name="replay[home_team]" class="replay_home_team_select" type="text" value="">
	<option>Choose Defense</option>
</select>
<select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
<option value=""> Player Name </option>
</select>

who throws to

<!-- var timing -->
<span id="var_timing">
 <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" /> ,


<select name="replay[batter_runner]" class="replay_batter_runner" >
<option value="batter/runner"> batter/runner </option>
<option value="runner"> runner </option>
</select>
called 
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%#=@this_replay.orig_ruling_on_field%>" ><%#=@this_replay.orig_ruling_on_field%></option>
</select> at 
<input name="replay[location]" class="replay_playlocation_2" type="text" value="<%=@this_replay.play_location%>" />.

<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>

</span><!-- end timing variation -->

<!-- fielder... variation -->
<span id="var_fielder"> 
	<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" /> , throw is
<select name="" class="replay_wide_high">
	<option value=""></option>
	<option value="wide">wide</option>
	<option value="high">high</option>
</select>
pulling
<select name="replay[home_team_player_name]" class="replay_home_team_player_name replay_home_team_player_name_2" >
<option value=""> Player Name </option>
</select>
off the bag, 

<select name="replay[batter_runner]" class="replay_batter_runner" >
<option value="batter/runner"> batter/runner </option>
<option value="runner"> runner </option>
</select>
called 
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="sut" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>
 at 
<input name="replay[location]" class="replay_playlocation_2" type="text" value="<%=@this_replay.play_location%>" />.


<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
</span><!-- end Fielder maintaining contact w/bag variation -->

<!-- double_play... variation -->
<span id="var_double_play"> 
	<select name="replay[home_team_player_name2]" class="replay_home_team_player_name2" >
<option value=""> Player Name </option>
</select> for the out at second base,
<span class="defensive_player_2_double_play">(defensive player 2)</span>
throws to 1B,  

<select name="replay[batter_runner]" class="replay_batter_runner_2" >
<option selected value="batter/runner"> batter/runner </option>
<option value="runner"> runner </option>
</select>
called 
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>
 at 1B.

	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field that the runner was out at 1B. 
	</span>

</span><!-- end double play... variation -->



After review, the replay official rules that the <select name="replay[batter_runner]" class="replay_batter_runner" >
<option value="batter/runner"> batter/runner </option>
<option value="runner"> runner </option>
</select> is 
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="out" >out</option>
	<option value="safe" >safe</option>
</select> at 

<input name="replay[location]" class="replay_playlocation_3" type="text" value="<%=@this_replay.play_location%>" />
.
Call <span class="is">is</span>
<select class="replay_replay_official_ruling" name="replay[replay_official_ruling]">
	<option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option>
<option value="Confirmed">Confirmed</option>
<option value="Stands">Stands</option>
</select>
. <br/><br/>
<select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
		</select>, 
		<select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out,
<select name="replay[runners_on]" class="replay_runners_on"><option value="no runners on">no runners on</option>
<option value="runner on 1B">runner on 1B</option>
<option value="runner on 2B">runner on 2B</option>
<option value="runner on 3B">runner on 3B</option>
<option value="runners on 1B and 2B">runners on 1B and 2B</option>
<option value="runners on 1B and 3B">runners on 1B and 3B</option>
<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option></select>
.


 <br/><br/>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>


<!-- HOMERUN -->

<form class="simple_form new_replay " id="form_homerun" action="/replays" accept-charset="UTF-8" method="post">
		
		<span class="hidden">
			We have a Crew Chief Review in the 
<select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select>
		game: <select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>
		, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select>out(s), 
<select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
</select>.

</span><!-- end hidden -->

<!-- fair foul -->
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Team</option>
</select>
<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>

<select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option selected value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
</select>

<span id="var_homerun_fair_foul">
		down the 
<select name="replay[playlocation]" class="replay_playlocation">
	<option value=""></option>
	<option value="LF">LF</option>
	<option value="RF">RF</option>
</select> line, called a 
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="home run">home run</option>
	<option value="no home run - kept in play">no home run - kept in play</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.
		The umpires on the field call for a Crew Chief Review for a potential home run.
		After review, the replay official rules that the ball was 
		<select class="replay_homerun_fair_foul">
			<option value="fair">fair</option>
			<option value="foul">foul</option>
		</select>, ruled a
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="home run" >home run</option>
	<option value="no home run - kept in play" >no home run - kept in play</option>
</select>
.

</span><!-- end fair/foul var -->

<span id="var_stadium_boundaries">
	to deep
<select name="replay[playlocation]" class="replay_playlocation">
	<option value=""></option>
	<option value="LF">LF</option>
	<option value="CF">CF</option>
	<option value="RF">RF</option>
</select> ,
ball hits off the top of the wall and bounces back into play, called
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="home run">home run</option>
	<option value="no home run - kept in play">no home run - kept in play</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.
		The umpires on the field call for a Crew Chief Review for a potential home run.
		After review, the replay official rules that the ball struck
		<select class="replay_above_below">
			<option value=""></option>
			<option value="above">above</option>
			<option value="below">below</option>
		</select> 
		the home run line.
		<!--
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="call after" >call after</option>
	<option value="home run" >home run</option>
	<option value="no home run - kept in play" >no home run - kept in play</option>
</select>
.-->


</span><!-- end stadium boundaries var -->

<span id="var_homerun_fan_interference">
		to deep
<select name="replay[playlocation]" class="replay_playlocation">
	<option value=""></option>
	<option value="LF">LF</option>
	<option value="LF">CF</option>
	<option value="RF">RF</option>
</select> ,
a spectator reaches over the wall and attempts to catch the ball, called
<select name="replay[callonfield]" class="replay_callonfield" >
	<option value="home run">home run</option>
	<option value="no home run - kept in play">no home run - kept in play</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.
		The umpires on the field call for a Crew Chief Review for a potential home run.
		After review, the replay official rules that the ball
		<select class="replay_would_wouldnot">
			<option value=""></option>
			<option value="would">would</option>
			<option value="would not">would not</option>
		</select> 
		have struck above the home run line
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="home run" >home run</option>
	<option value="no home run - kept in play" >no home run - kept in play</option>
</select>
.
</span><!-- end fan_interference var -->

		Call <span class="is">is</span><select class="replay_replay_official_ruling2" name="replay[replay_official_ruling2]">
		<option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option>
		<option value="Confirmed">Confirmed</option>
		<option value="Stands">Stands</option></select>
.<select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
		</select>
, <select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out, 
		 <select name="replay[runners_on]" class="replay_runners_on"><option value="no runners on">no runners on</option>
<option value="runner on 1B">runner on 1B</option>
<option value="runner on 2B">runner on 2B</option>
<option value="runner on 3B">runner on 3B</option>
<option value="runners on 1B and 2B">runners on 1B and 2B</option>
<option value="runners on 1B and 3B">runners on 1B and 3B</option>
<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option></select>.
		<br><br>
	

<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form> 

<form class="simple_form new_replay " id="form_tag_play" action="/replays" accept-charset="UTF-8" method="post">
		<!-- hidden -->

<span class="hidden">
		We have a 
		<select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select>

 in the <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select> game: <select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>
, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select> out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
</select>. 
</span>
<!-- end hidden -->

<!-- STEAL -->
<span id="var_steal">
	<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
runner
	 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
	<option value=""> Player Name </option>
	</select> attempts to steal 
	<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />, runner

 called <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />

	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official rules the runner 
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="out" >out</option>
	<option value="safe" >safe</option>
</select> at 
		<input name="replay[location]" class="replay_playlocation_3" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- PICKOFF -->
<span id="var_pickoff">

	
<select name="replay[home_team]" class="replay_home_team_select" type="text" value="">
	<option>Choose Defense</option>
</select>
	<select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
		<option value=""> Player Name </option>
	</select>
	attempts to pick off <select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select> runner
		
<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
			<option value=""> Player Name </option>
		</select>
	at <input name="replay[location]" class="replay_playlocation_2" type="text" value="<%=@this_replay.play_location%>" />, runner
	
 called <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at <input name="replay[location]" class="replay_playlocation_2_1" type="text" value="<%=@this_replay.play_location%>" />.

	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules the runner 
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="out" >out</option>
	<option value="safe" >safe</option>
</select> at 
		<input name="replay[location]" class="replay_playlocation_3" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- RUNNER LOSES CONTACT -->
<span id="var_runner_loses_contact">
	
<select name="replay[home_team]" class="replay_home_team_select" type="text" value="">
	<option>Choose Defense</option>
</select>
	<select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
		<option value=""> Player Name </option>
	</select>
	attempts to steal  <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />. Runner
	
 called <select name="replay[callonfield]" class="replay_callonfield" >

	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at <input name="replay[location]" class="replay_playlocation_2_1" type="text" value="<%=@this_replay.play_location%>" />.
	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules, the runner is 
<select name="replay[]" class="replay_did_not_come" >
	<option value="did not come" >did not come</option>
	<option value="came" >came</option>
</select> off the bag, rules the runner <select name="replay[callafterfield]" class="replay_callonfield_after" >
<option value="" ></option>
	<option value="out" >out</option>
	<option value="safe" >safe</option>
</select> at
		<input name="replay[location]" class="replay_playlocation_3" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- BATTER ATTEMPTS EXTRA -->
<span id="var_batter_attempts_extra">
	
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
	<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
		<option value=""> Player Name </option>
	</select>
	hits a line drive to 
	<select name="replay[location]" class="replay_playlocation_2">
	<option value="LF">LF</option>
	<option value="LF">CF</option>
	<option value="RF">RF</option>
</select>, batter/runner attempts to advance to
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />,

	<span class="batter_attempts_extra_def_team"></span> 
		<select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
			<option value=""> Player Name </option>
		</select> throws to
		<select name="replay[home_team_player_name]" class="replay_home_team_player_name_2 replay_home_team_player_name" >
			<option value=""> Player Name </option>
		</select>, batter/runner called
		 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules the batter/runner 
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
</select> at
		<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- end BATTER ATTEMPTS EXTRA-->
<!-- RUNNER ADVANCE -->
<span id="var_runner_advance">
	
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select> 
		
<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
			<option value=""> Player Name </option>
		</select>
	hits a line drive to 
	<select name="replay[location]" class="replay_playlocation_3">
	<option value="LF">LF</option>
	<option value="CF">CF</option>
	<option value="RF">RF</option>
</select>, runner attempts to advance from 
<select class="replay_advance_from">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
</select>
 to
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />,
runner called
		 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules the runner 
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="safe" >safe</option>
	<option value="out" >out</option>
</select> at
		<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- end RUNNER ADVANCE -->

<!-- TAGUP -->
<span id="var_tag_up">
	
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
	<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
		<option value=""> Player Name </option>
	</select>
	flies out to 
	<select name="replay[location]" class="replay_playlocation_2">
	<option value="LF">LF</option>
	<option value="CF">CF</option>
	<option value="RF">RF</option>
</select>, runner

	<span class="hidden tag_up_visiting_team replay_visiting_team_select"></span> 
		<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name_2" >
			<option value=""> Player Name </option>
		</select> tags up and attempts to advance from
<select name="replay[location]" class="replay_playlocation_3">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
</select> to
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />, runner called
		 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.
	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules the runner <select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="safe" >safe</option>
	<option value="out" >out</option>
</select> at
		<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- end TAG UP -->

<!-- ERRANT THROW -->
<span id="var_errant_throw">
	
<select name="replay[visiting_team]" class="replay_visiting_team_select blue-dropdown" type="text" value="">
	<option>Choose Offense</option>
</select>
	<select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
		<option value=""> Player Name </option>
	</select>
	hits a ground ball to 

	<select name="replay[home_team]" class=" blue-dropdown replay_home_team_select" type="text" value="">
		<option>Choose Defense</option>
	</select> 
		<select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
			<option value=""> Player Name </option>
		</select> who throws to
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />, throw is
<select class="replay_wide_high">
	<option value="wide">wide</option>
<option value="high">high</option>
</select>
 pulling
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name2" >
		<option value=""> Player Name </option>
	</select> off the bag, batter/runner called
		 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	<option value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> on the tag at <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
	<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>
		After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
	</select> rules the runner <select name="replay[callonfield]" class="replay_callonfield_after_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> at
		<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />. 
</span>

<!-- end ERRANT THROW -->

		Call <span class="is">is</span><select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>. <select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
		</select>,
		<select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out,  <select name="replay[runners_on]" class="replay_runners_on"><option value="no runners on">no runners on</option>
<option value="runner on 1B">runner on 1B</option>
<option value="runner on 2B">runner on 2B</option>
<option value="runner on 3B">runner on 3B</option>
<option value="runners on 1B and 2B">runners on 1B and 2B</option>
<option value="runners on 1B and 3B">runners on 1B and 3B</option>
<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option></select>.
		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>
<!-- //////// FORM FOR CATCH NO CATCH //////// -->

<form class="simple_form new_replay " id="form_catch_nocatch" action="/replays" accept-charset="UTF-8" method="post">
		
		<span class="hidden">
		We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select>
		in <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select>
 game: <select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>
 , <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select>
 out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
<option selected value="<%=@this_replay.runners_on%>" ><%=@this_replay.runners_on%></option>
</select>
. 
</span><!-- end hidden -->

<!-- transfer at 2B-->
<span id="var_transfer_at_2B">
<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>

 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>
 <select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select>
 to <select name="replay[home_team]" class="blue-dropdown replay_home_team_select" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
<option value=""> Player Name </option>
</select>
who throws to
<select name="replay[home_team_player_name]" class="replay_home_team_player_name replay_home_team_player_name_2" >
<option value=""> Player Name </option>
</select>,
who drops the ball on the transfer,
<span class="transfer_2b_team" ></span> runner
<span class="transfer_2b_runner" ></span>

called
 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="safe" >safe</option>
	<option value="out" >out</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select> at
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />,

<select name="replay[batter_runner]" class="replay_batter_runner" >
<option selected value="batter/runner"> batter/runner </option>
<option value="runner"> runner </option>
</select> to
<select class="replay_playlocation_2">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
</select>.

 <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="safe" >safe</option>
	<option value="out" >out</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span> After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
</select>
 rules the runner <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="safe" >safe</option>
	<option value="out" >out</option>
</select> at
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
</span><!-- end of transfer at 2b-->

<!-- outfield transfer -->
<span id="var_outfield_transfer">
<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select replay_visiting_team_select_2" type="text" value="">
	<option>Choose Offense</option>
</select>

 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name replay_visiting_team_player_name_2" >
<option value=""> Player Name </option>
</select>
 <select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
</select>
 to <select name="replay[home_team]" class="blue-dropdown replay_home_team_select replay_home_team_select_2" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name replay_home_team_player_name_2" >
<option value=""> Player Name </option>
</select>,
who drops the ball on the transfer, called a 
 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.

 <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span> After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
</select>
 rules that the play results in a <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
</select> at
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
</span><!-- end of outfield: transfer -->

<!-- outfield: ball off wall -->
<span id="var_outfield_ball_off_wall">
<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select replay_visiting_team_select_3" type="text" value="">
	<option>Choose Offense</option>
</select>

 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name replay_visiting_team_player_name_3" >
<option value=""> Player Name </option>
</select>
hits a fly ball
 to deep <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />
 , <select name="replay[home_team]" class="blue-dropdown replay_home_team_select replay_home_team_select_3" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name replay_home_team_player_name_3" >
<option value=""> Player Name </option>
</select>,
attempts to make a catch against the outfield wall, called a
 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.

 <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span> After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
</select>
 rules that the play results in a <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
</select> at
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
</span><!-- end of outfield: ball off wall -->

<!-- outfield: trap play -->
<span id="var_outfield_trap_play">
<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select replay_visiting_team_select_4" type="text" value="">
	<option>Choose Offense</option>
</select>

 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name replay_visiting_team_player_name_4" >
<option value=""> Player Name </option>
</select>
 <select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select>
 to deep <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />
 , <select name="replay[home_team]" class="blue-dropdown replay_home_team_select replay_home_team_select_4" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name replay_home_team_player_name_4" >
<option value=""> Player Name </option>
</select>
attempts to make a diving catch, called a
 <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.

 <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span> After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">-->
</select>
 rules that the play results in a <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="catch" >catch</option>
	<option value="no catch" >no catch</option>
</select> at
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />.
</span><!-- end of outfield: trap play -->

  Call <span class="is">is</span><select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>.
  <select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>
		, <select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out, 
  <select name="replay[runners_on]" class="replay_runners_on">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
</select>.

</span>

		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>

<!-- ////// FORM FOR FAIR FOUL /////// -->

<form class="simple_form new_replay " id="form_fair_foul" action="/replays" accept-charset="UTF-8" method="post">
	<!-- hidden -->
	<span class="hidden">	
		We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select> in the <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select> game: <select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select>
 out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
<option selected value="<%=@this_replay.runners_on%>" ><%=@this_replay.runners_on%></option>
</select>. 
</span>
<!-- end hidden -->
<span id="var_ff_outfield">
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>
 <select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select>
 down the
<select name="replay[location]" class="replay_playlocation">
	<option value="LF">LF</option>
	<option value="RF">RF</option>
</select>
  line, ball is called <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="fair" >fair</option>
	<option value="foul" >foul</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>
. 


</span><!-- end ff_outfield -->

<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="fair" >fair</option>
			<option value="foul" >foul</option>
			<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the ruling on the field. 
	</span> After review, the replay official rules <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">
</select>-->
 that the ball is <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="fair" >fair</option>
	<option value="foul" >foul</option>
</select>. Call <span class="is">is</span>
 <select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>
 . 
 <select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>
, <select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out,  <select name="replay[runners_on]" class="replay_runners_on">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
</select>


		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>

<!-- ///// FOR FOR COLLISON HOME PLATE //// -->
<form class="simple_form new_replay " id="form_violation_of_collision" action="/replays" accept-charset="UTF-8" method="post">
	<!-- hidden first line -->
	<span class="hidden">
		We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select> in the <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select> game: <select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select> out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
<option selected value="<%=@this_replay.runners_on%>" ><%=@this_replay.runners_on%></option>
</select>
. 
</span>

<!-- end hidden -->


<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>
 <select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select> to
<select name="replay[location]" class="replay_playlocation">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
	<option selected value="<%=@this_replay.play_location%>"><%=@this_replay.play_location%></option>
</select>
 , runner 
 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name_2" >
<option value=""> Player Name </option>
</select> attempts to score from 
<select name="replay[runnerstarted]" class="replay_runnerstarted" >
<option value="1B"> 1B</option>
<option value="2B"> 2B</option>
<option value="3B"> 3B</option>
</select>,
<input name="replay[home_team]" class="replay_home_team" type="text" value="" />
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
<option value=""> Player Name </option>
</select> throws home to

<input name="replay[home_team]" class="replay_home_team" type="text" value="" />
 <select name="replay[home_team_player_name_2]" class="replay_home_team_player_name replay_home_team_player_name_2" >
<option value=""> Player Name </option>
</select>,

 runner called <select name="replay[callonfield]" class="replay_safe_out" >
	<option value="out" >out</option>
	<option value="safe" >safe</option>
	
</select>  at 

<select name="replay[location]" class="replay_playlocation">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
	<option selected value="<%=@this_replay.play_location%>"><%=@this_replay.play_location%></option>
</select>, <select name="replay[replay_callonfield]" class="replay_callonfield" >
	<option value="violation of collision at home plate" >violation of collision at home plate</option>
	<option value="no violation of collision at home plate" >no violation of collision at home plate</option>
	<option selected value="<%=@this_replay.orig_ruling_on_field%>" ><%=@this_replay.orig_ruling_on_field%></option>
</select>.

 <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="out" >out</option>
			<option value="safe" >safe</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span>  After review, the replay official <!--<select name="replay[first_b_umpire]" id="replay_first_b_umpire" class="replay_replay_official">
</select>-->
 rules that there was 
<select name="replay[replay_callonfield]" class="replay_callonfield" >
	<option value="violation of collision at home plate" >violation of collision at home plate</option>
	<option value="no violation of collision at home plate" >no violation of collision at home plate</option>
	<option selected value="<%= @this_replay.orig_ruling_on_field%>" ><%= @this_replay.orig_ruling_on_field%></option>
</select>
 , the runner is <select name="replay[callafterfield]" class="replay_callonfield_after" >
 <option value="" ></option>
	<option value="out" >out</option>
	<option value="safe" >safe</option>
</select> at 

<select name="replay[location]" class="replay_playlocation">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
	<option selected value="<%=@this_replay.play_location%>"><%=@this_replay.play_location%></option>
</select>. Call <span class="is">is</span><select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>
. 
<select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>,
<select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out,  <select name="replay[runners_on]" class="replay_runners_on">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
</select>.

		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>

<!-- /////// FORM FOR HIT BY PITCH ///// -->
<form class="simple_form new_replay " id="form_hit_by_pitch" action="/replays" accept-charset="UTF-8" method="post">

<span class="hidden">
	We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select> in the <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select> game: 
		<select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>
		, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select> out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
<option selected value="<%=@this_replay.runners_on%>" ><%=@this_replay.runners_on%></option>
</select>. 
</span> <!-- end hidden -->

<span>
<select name="replay[home_team]" class="replay_home_team_select blue-dropdown" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
<option value=""> Player Name </option>
</select> throws a pitch inside to <select class=" replay_visiting_team_select blue-dropdown"><option value=""></option></select> batter <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>
, called <select name="replay[callonfield]" class="replay_callonfield" >
	<option value="hit by pitch" >hit by pitch</option>
	<option value="not hit by pitch" >not hit by pitch</option>
</select>. <span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value="hit by pitch" >hit by pitch</option>
	<option value="not hit by pitch" >not hit by pitch</option>
			
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field. 
	</span> After review, the replay official rules that the ball
	<select class="strike" name="">
		<option value=""></option><option  value="did not strike">did not strike</option><option value="struck">struck</option></select> the batter, rules
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value="" ></option>
	<option value="hit by pitch" >hit by pitch</option>
	<option value="not hit by pitch" >not hit by pitch</option>
</select>. Call <span class="is">is</span><select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>. <select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>,
 <select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out,   <select name="replay[runners_on]" class="replay_runners_on">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
</select>.
</span>
		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>
<!-- /////// FORM FOR FAN INTERFERENCE ///// -->
<form class="simple_form new_replay" id="form_fan_interference" action="/replays" accept-charset="UTF-8" method="post">

<span class="hidden">
	We have a <select name="replay[type_of_challenge]" class="replay_type_of_challenge">
			<option value="Manager&#39;s Challenge">Manager&#39;s Challenge</option>
			<option value="Crew Chief Review">Crew Chief Review</option>
			<option selected="selected" value="<%=@this_replay.type_of_challenge%>"><%=@this_replay.type_of_challenge%></option>
		</select> in the <select class="date_select" name="replay[date]" >
<option value="">Game</option>
</select> game: 
		<select name="replay[inning]" class="replay_inning"/>
		<option value="T1">T1</option>
		<option value="B1">B1</option>
		<option value="T2">T2</option>
		<option value="B2">B2</option>
		<option value="T3">T3</option>
		<option value="B3">B3</option>
		<option value="T4">T4</option>
		<option value="B4">B4</option>
		<option value="T5">T5</option>
		<option value="B5">B5</option>
		<option value="T6">T6</option>
		<option value="B6">B6</option>
		<option value="T7">T7</option>
		<option value="B7">B7</option>
		<option value="T8">T8</option>
		<option value="B8">B8</option>
		<option value="T9">T9</option>
		<option value="B9">B9</option>
		<option value="T10">T10</option>
		<option value="B10">B10</option>
		<option value="T11">T11</option>
		<option value="B11">B11</option>
		<option value="T12">T12</option>
		<option value="B12">B12</option>
		<option value="T13">T13</option>
		<option value="B13">B13</option>
		<option value="T14">T14</option>
		<option value="B14">B14</option>
		<option value="T15">T15</option>
		<option value="B15">B15</option>
		<option value="T16">T16</option>
		<option value="B16">B16</option>
		<option value="T17">T17</option>
		<option value="B17">B17</option>
		<option value="T18">T18</option>
		<option value="B18">B18</option>
		<option value="T19">T19</option>
		<option value="B19">B19</option>
		<option value="T20">T20</option>
		<option value="B20">B20</option>
		<option selected value="<%=@this_replay.inning%>"><%=@this_replay.inning%></option>
	</select>
		, <select name="replay[outs]" class="replay_outs"><option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected value="<%=@this_replay.outs%>" ><%=@this_replay.outs%></option>
</select> out, <select name="replay[runners_before]" class="replay_runners_before">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
<option value="bases loaded">bases loaded</option>
<option selected value="<%=@this_replay.runners_on%>" ><%=@this_replay.runners_on%></option>
</select>. 
</span> <!-- end hidden -->

<!-- var fi_foul ball-->
<span id="var_fi_foul_ball">
<select name="replay[visiting_team]" class="blue-dropdown replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select> hits a line drive down the <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />line, 
<select name="replay[home_team]" class=" blue-dropdown replay_home_team_select" type="text" value="">
	<option>Choose Defense</option>
</select>
 <select name="replay[home_team_player_name]" class="replay_home_team_player_name" >
<option value=""> Player Name </option>
</select> attempts to make a catch reaching into the 
<input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />
stands,
<select class="replay_player_fan">
<option value=""></option>
<option value="player">player</option>
<option value="fan">fan</option>
</select>
catches the ball, called
<select class="replay_catchnocatch">
<option value="catch">catch</option>
<option value="no catch">no catch</option>
</select>. 

<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
			<option value="<%=@this_replay.orig_ruling_on_field%>"><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field that there was
		 <select name="replay[callonfield]" class="replay_callonfield" >
			<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
			<option value="<%=@this_replay.orig_ruling_on_field%>"><%=@this_replay.orig_ruling_on_field%></option>
		</select>. 
	</span> After review, the replay official rules that there was
	
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
</select>, batter ruled out. 
</span>
<!-- end fi_foul_ball -->

<!-- var fi_bounding ball-->
<span id="var_fi_bounding_ball">
<select name="replay[visiting_team]" class="replay_visiting_team_select" type="text" value="">
	<option>Choose Offense</option>
</select>
 <select name="replay[visiting_team_player_name]" class="replay_visiting_team_player_name" >
<option value=""> Player Name </option>
</select>
<select name="replay[offensedoeswhat]" class="replay_offensedoeswhat">
	<option value=""> </option>
	<option value="hits a ground ball">hits a ground ball</option>
	<option value="hits a fly ball">hits a fly ball</option>
	<option value="hits a line drive">hits a line drive</option>
	<option value="lines out">lines out</option>
	<option value="bunts the ball">bunts the ball </option>
</select>
down the <input name="replay[location]" class="replay_playlocation" type="text" value="<%=@this_replay.play_location%>" />line, called
<select name="replay[callonfield]" class="replay_callonfield" >
			<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
			<option value="<%=@this_replay.orig_ruling_on_field%>"><%=@this_replay.orig_ruling_on_field%></option>
		</select>,
		<select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>, batter/runner safe at 
<select name="replay[location]" class="replay_playlocation_2">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
</select>. 

<span class="whochallenged_crew">
		The umpires initiate a Crew Chief review for the 
		<select name="replay[callonfield]" class="replay_callonfield_2" >
			<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
			<option value="<%=@this_replay.orig_ruling_on_field%>"><%=@this_replay.orig_ruling_on_field%></option>
		</select> call on the field.
	</span>
	<span class="whochallenged_manager">
		<select name="replay[whochallenged]" class="replay_whochallenged" >
		<option value=""> WHOCHALLENGED</option>
		</select>

		 challenges the call on the field that there was
		 <select name="replay[callonfield]" class="replay_callonfield" >
			<option value=""></option>
			<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
			<option value="<%=@this_replay.orig_ruling_on_field%>"><%=@this_replay.orig_ruling_on_field%></option>
		</select>. 
	</span> After review, the replay official rules that the ball is
	
<select name="replay[callafterfield]" class="replay_callonfield_after" >
	
	<option value=""></option>
	<option value="fan interference" >fan interference</option>
	<option value="no fan interference" >no fan interference</option>
</select>, batter safe at
<select name="replay[location]" class="replay_playlocation_2">
	<option value="1B">1B</option>
	<option value="2B">2B</option>
	<option value="3B">3B</option>
</select>. 
</span>
<!-- end fi_bounding_ball -->

Call <span class="is">is</span> <select class="replay_replay_official_ruling" name="replay[replay_official_ruling]"><option selected value="<%= @this_replay.replay_official_ruling%>"><%= @this_replay.replay_official_ruling%></option><option value="Confirmed">Confirmed</option><option value="Stands">Stands</option></select>.
 <select name="replay[outsafter]" class="replay_outsafter" >
	<option value="">Select outsafter</option>
	<option value="0"> 0 </option>
	<option value="1"> 1 </option>
	<option value="2"> 2 </option>
	<option value="3"> 3 </option>
</select> out, <select name="replay[runnersscore]" class="replay_runnersscore">
			<option value="No runs score">No runs score</option>
			<option value="One run scores"> One run scores </option>
			<option value="Two runs score">Two runs score</option>
			<option value="Three runs score">Three runs score</option>
			<option value="Four runs score"> Four runs score </option>
</select>,  <select name="replay[runners_on]" class="replay_runners_on">
	<option value="no runners on">no runners on</option>
	<option value="runner on 1B">runner on 1B</option>
	<option value="runner on 2B">runner on 2B</option>
	<option value="runner on 3B">runner on 3B</option>
	<option value="runners on 1B and 2B">runners on 1B and 2B</option>
	<option value="runners on 1B and 3B">runners on 1B and 3B</option>
	<option value="runners on 2B and 3B">runners on 2B and 3B</option>
	<option value="bases loaded">bases loaded</option>
</select>.

		
		<br><br>
<div><input type="submit" name="commit" value="Generate Email" class="btn btn-default" /></div>
</form>
<!-- end fan interference -->
<%#end%>

      	
      </div>