<%= simple_form_for @new_replay, :url => { :action => 'update',:controller => 'replays'} do |r| %>
										<div class="col-sm-6">
											
											
											
											<div>
												<%= r.label :replay_official %>
												<%= r.select :replay_official, ["","Baker","Barksdale","Barber","Barrett, L.","Barrett, T.","Barry","Basner","Bellino","Blaser","Buckminster","Bucknor","Byrne","Campos","Carapazza","Carlson","Cederstrom","Conroy","Cooper","Culbreth","Cuzzi","Danley","Davidson","Davis","DeMuth","Diaz","DiMuro","Drake","Dreckman","Eddings","Emmel","Estabrook","Everitt","Fagan","Fairchild","Fletcher","Foster","Gibson, G.","Gibson, H.","Gonzalez","Gorman","Gosney","Guccione","Hallion","Hamari","Hernandez","Hickox","Hirschbeck","Hoberg","Holbrook","Hoye","Hudson","Iassogna","Johnson, Ad.","Johnson, An.","Joyce","Kellogg","Knight","Kulpa","Layne","Little","Marquez","May","Meals","Miller","Morales","Muchlinski","Nauert","Nelson","O'Nora","Pattillo","Porter","Rackley","Randazzo","Reyburn","Reynolds","Ripperger","Scheurwater","Schrieber","Scott","Segal","Tichenor","Timmons","Tumpane","Vanover","Wegner","Welke, B.","Welke, T.","Wendelstedt","West","Whitson","Winters","Wolcott","Wolf","Woodring"] %>
											</div>
											<div >
												<%= r.input :visiting_team, input_html: {:class => "replay_visiting_team"} %>
											</div>
											<div >
												<%= r.input :home_team,  input_html: {:class => 'replay_home_team'} %>
											</div>
										
            
											<div >
												<%= r.label :game_start_time %>
												<%= r.input :game_start_time,:as => :time_picker,:value => (@this_replay.game_start_time), input_html: { :class => 'replay_game_start_time'} %>
											</div>
											<div style="">
												<%= r.label :hp_umpire, "HP Umpire" %>
												<%= r.input :hp_umpire,  input_html: {:class => 'hp_umpire'}, label: false %>
											</div>
											<div style="">
												<%= r.label :first_b_umpire, "1B Umpire" %>
												<%= r.input :first_b_umpire, input_html: {:class => 'first_b_umpire'},label: false %>
											</div>
											<div style="">
												<%= r.label :second_b_umpire, "2B Umpire" %>
												<%= r.input :second_b_umpire,  input_html: {:class => 'second_b_umpire'},label: false%>
											</div>
											<div style="">
												<%= r.label :third_b_umpire, "3B Umpire" %>
												<%= r.input :third_b_umpire, input_html: {:class => 'third_b_umpire'},label: false%>
											</div>
											<div>
												<%= r.input :stadium %>
											</div>
											<div>
												<%= r.label :in_favor_of %>
												<%= r.select :in_favor_of, ["",@this_replay.home_team,@this_replay.visiting_team, "N/A"] %>
											</div>
											<div>
												<%= r.label :score %>
												<%= r.text_field :score, :placeholder => "Enter Score",:value => @this_replay.screenshot_link %>
											</div>

											<div>
												<%= r.label :runners_on %>
												<%= r.select :runners_on, ["","No runners on","runner on 1B","runner on 2B","runner on 3B","runners on 1B and 2B","runners on 1B and 3B","runners on 2B and 3B","bases loaded"] %>
											</div>
											
											
											<div>
												<%= r.label :calling_umpire %>
												<%= r.select :calling_umpire, ["", @this_replay.hp_umpire, @this_replay.first_b_umpire, @this_replay.second_b_umpire, @this_replay.third_b_umpire ] %>
											</div><br>
											<div>
												<%= r.text_area :play_desc, :placeholder => "Enter Play Description" %>
											</div>
											
											
										</div>
										<div class="col-sm-6">
											
											
											

											
											<div>
												<%= r.label :headset_ump1 %>
												<%= r.select :headset_ump1, ["", @this_replay.hp_umpire, @this_replay.first_b_umpire, @this_replay.second_b_umpire, @this_replay.third_b_umpire ] %>
											</div>
											<div>
												<%= r.label :headset_ump2 %>
												<%= r.select :headset_ump2, ["", @this_replay.hp_umpire, @this_replay.first_b_umpire, @this_replay.second_b_umpire, @this_replay.third_b_umpire ]%>
											</div>
											
											<div>
												<%= r.label :placement_of_runners %>
												<%= r.select :placement_of_runners, ["","No runners on","runner on 1B","runner on 2B","runner on 3B","runners on 1B and 2B","runners on 1B and 3B","runners on 2B and 3B","bases loaded"]  %>
											</div>
											<!-- superadmin only-->
											<% if current_user.id === 1 %>
											<div>
												
												<%= r.label :was_ruling_correct %>
												<%= r.select :was_ruling_correct, ["","Yes","No"] %>
												
											</div>
											<%end%>

											<div class="time-select">
												<%= r.input :time_from_call_to_review,{ include_blank: true} %>
											</div>
											<div class="time-select">
												<%= r.input :time_on_headset, include_blank: true, :style => 'width:100%'%>
											</div>
											
											<div class="time-select">
												<%= r.input :time_from_call_to_next_pitch ,{ include_blank: true}  %>
											</div>
											<div class="time-select">
												<%= r.input :time_from_review_to_ruling ,{ include_blank: true} %>
											</div>
											<div class="time-select">
												<%= r.input :time_of_play,{ include_blank: true}%>
											</div>
											
											
											<div>
												<%= r.label :admin %>
												<%= r.select :admin, ["","Chris Bitetto","Matthew DeFonzo","Eric Feibusch","Luca Messina","Armando Morales","Aaron Yorke"] %>
											</div>
											<div>
												<%= r.label :replay_tech %>
												<%= r.select :replay_tech, ["","Daniel Acevedo","Nick Ascanio","Tim Akins","Ryan Burns","Tom Butto","Will Cahan","Chris Carey","Dan Courtright","Ryan Crofts","Nick Della Torri","Keith Dolega","Andrew Fried","Evan James","Matt Jensen","Steve Kultzow","Andrew Maple","Matt Mendez","Sam Oppenheim","Peter Poon","Brian Richman","Fred Rosen","Jimmy Sensale","Brian Smith","Damien Spellman","Nick Urteaga"] %>
											</div>
											<div>
												<%= r.label :definitive_angle %>
												<%= r.select :definitive_angle,["","Low 1B","Mid 1B","High 1B","Low 3B","Mid 3B","High 3B","Tight CF","CF","High Home","LF Foul Pole","RF Foul Pole","Low Home","Inside Low 1B","Outside Low 1B","Inside Low 3B","Outside Low 3B"], :placeholder => "Definitive Angle" %>
											</div>
											<div>
												<%= r.label :cameras_available %>
												<%= r.select :cameras_available, ["0","1","2","3","4","5","6","7","8","9","10","11","12"] %>
											</div><br>
											<div>
												<%= r.text_area :notes , :placeholder => "Enter Notes"%>
											</div>
											<div>
												<%= r.text_field :video_link , :placeholder => "Enter Video Link"%>
											</div>
											<div>
												<%= r.text_field :screenshot_link, :placeholder => "Enter Screenshot Link",:value => @this_replay.screenshot_link %>
											</div>

											
										</div>
										<div style="clear: both;float: right;width: 200px;margin-top:20px;">
											<%= r.submit "Update Replay", {:class => "btn btn-info lrg-btn"} %>
										</div>
									<% end %> 