

<div class="new-replay-header">
    <div class="feed-datepicker" style="float:left; margin-right:20px;">
     
    
    <% if current_user.id.nil? %>
      <%redirect_to root_path%>
      
      <% else%>
      <% if current_user.id == 1  %> 
        <%= link_to raw('<button class="fa fa-calendar" style="float:left;position:relative"></button>'), calendars_path%>
      <%end%>
    <% end %>
    </div>
    <div class="feed-sort ">
      <%= radio_button_tag(:matchup, "1", true) %><%= label_tag(:matchup, "Matchup") %>
      <%= radio_button_tag(:matchup, "2") %><%= label_tag(:replay, "Replay") %>
   </div>
   <div class="">
    <span class=""><%= link_to_if current_user.id <= 11, "<i class='fa fa-plus-square fa-2' value='New Replay'></i>".html_safe, root_path %></span>
    </div>

</div>
<div class="sidebar">
    <div id="blk-1" class="toHide" >
      <div class="panel-group" id="accordion">
      
        <div class="panel-group" id="accordion">
      <% @visiting_team.each_with_index do |t, index|%>
            <div class="panel panel-default">
              
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>">
                <h4 class="panel-title">
                  

                    <%= t.visiting_team %> vs <%= t.home_team %>

                  
                </h4>
                </a>
              </div>
              
              <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
                <% @all_replays.where("visiting_team" => t.visiting_team).each do |i|%>
                <div class="panel-body blue-box">
                  <%= link_to(i) do %>
                  <h4>Replay ID# <%=i.id%> <small><%= i.date.strftime("%m/%d/%Y") %> </small></h4>
                  
                  <p><strong>Play Type:</strong> <%= i.play_type%></p>
                  <p><strong>Challenge Type:</strong> <%= i.type_of_challenge%></p>
                  <p><strong>Call On Field:</strong> <%= i.orig_ruling_on_field%></p>
                  <p><strong>Replay Official Ruling:</strong> <%= i.replay_official_ruling%></p>
                   <%end%>
                   &nbsp;<%=link_to raw('<i class="fa fa-trash-o"></i>'), i, method: :delete, data: { confirm: "Are you sure?" },:title => "Delete Replay"%>
                </div>
               <%end%>
              </div>
            </div>
          <%end%>
      </div>
      </div>
    </div>
    <div id="blk-2" class="toHide" style="display:none">
      <div class="panel-group" id="accordion">
      <% @all_replays.each_with_index do |i, index| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+ 200 %>">
              <h4 class="panel-title">
                
                  Replay ID# <%= i.id %>
                
              </h4>
              </a>
            </div>
            <div id="collapse<%= index+200 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Replay ID# <%=i.id%> <small><%= i.date.strftime("%d/%m/%Y") %></small></h4>
                <p><strong>Umpires:</strong><br>HP: <%= i.hp_umpire %> 1B: <%= i.first_b_umpire %> 2B: <%= i.second_b_umpire %> 3B: <%= i.third_b_umpire %></p>
                <p><strong>Start Time:</strong> <%= i.game_start_time.strftime("%I:%M %p")%></p>
                <p><strong>Stadium:</strong> <%= i.stadium%></p>
                <p><strong>Admin:</strong> <%= i.admin%></p>
                <p><strong>Replay Technician:</strong> <%= i.replay_tech%></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
