
<ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#game-summaries" aria-controls="game-summaries" role="tab" data-toggle="tab" aria-expanded="true">Game Summaries</a></li>
        <li role="presentation" class=""><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab" aria-expanded="false">Summary</a></li>
        <li role="presentation" class=""><a href="#weekly-summary" aria-controls="weekly-summary" role="tab" data-toggle="tab" aria-expanded="false">Weekly Summary</a></li>
      </ul>
      <div class="tab-content search-panel">
        <div role="tabpanel" class="tab-pane active col-sm-12 fade in" id="game-summaries">
          <div><%= link_to "Export XLS", "replays.xls", :class => "btn-default btn" %>&nbsp;<%= link_to "Export CSV", "replays.csv", :class => "btn-default btn" %></div><Br>
          <div class="row">
            <%= 
              grid(@grid) do |g|
                 g.column name: 'ID', attribute: 'id', filter:false do |p|
                  link_to(p.id, replay_path(p))
                 end
                 g.column name:'Date', attribute: 'date'  do |p|
                   p.date.strftime("%m/%d/%Y")
                 end
                 g.column name: 'Visiting Team',attribute: 'visiting_team', custom_filter: %w(BAL BOS CWS CLE DET TEX KC LAA MIN NYY OAK SEA TB HOU TOR ARI ATL CHC CIN COL LAD MIA MIL NYM SD PIT PHI SF STL WAS) do |p|
                   p.visiting_team
                 end
                 g.column name: 'Home Team',attribute: 'home_team', custom_filter: %w(BAL BOS CWS CLE DET TEX KC LAA MIN NYY OAK SEA TB HOU TOR ARI ATL CHC CIN COL LAD MIA MIL NYM SD PIT PHI SF STL WAS) do |p|
                   p.home_team
                 end
                 g.column name: 'HP Umpire',attribute: 'hp_umpire' do |p|
                   p.hp_umpire
                 end
                 g.column name: '1B Umpire',attribute: 'first_b_umpire' do |p|
                   p.first_b_umpire
                 end
                 g.column name: '2B Umpire',attribute: 'second_b_umpire' do |p|
                   p.second_b_umpire
                 end
                 g.column name: '3B Umpire',attribute: 'third_b_umpire'  do |p|
                   p.third_b_umpire
                 end
                 g.column name: 'Replay Official',attribute: 'replay_official' do |p|
                   p.replay_official
                 end
                 g.column name: 'Game Start Time' do |p|
                   p.game_start_time.strftime("%I:%M %p")
                 end
                 g.column name: 'Stadium' do |p|
                   p.stadium
                 end
                 g.column name: 'Inning' do |p|
                   p.inning
                 end
                 g.column name: 'Score' do |p|
                   p.score
                 end
                 g.column name: 'In Favor Of' do |p|
                   p.in_favor_of
                 end
                 g.column name: 'Outs' do |p|
                   p.outs
                 end
                 g.column name: 'Runners On' do |p|
                   p.runners_on
                 end
                 g.column name: 'Challenging Team',attribute: 'challenging_team', custom_filter: %w(BAL BOS CWS CLE DET TEX KC LAA MIN NYY OAK SEA TB HOU TOR ARI ATL CHC CIN COL LAD MIA MIL NYM SD PIT PHI SF STL WAS) do |p|
                   p.challenging_team
                 end
                 g.column name: 'Calling Umpire' do |p|
                   p.calling_umpire
                 end
                  g.column name: 'Play Desc' do |p|
                   link_to("Click for Description", replay_path(p ,:anchor => "data") )
                 end
                 g.column name: 'Headset Ump 1' do |p|
                   p.headset_ump1
                 end
                 g.column name: 'Headset Ump 2' do |p|
                   p.headset_ump1
                 end
                 g.column name: 'Orginal Ruling on Field' do |p|
                   p.orig_ruling_on_field
                 end
                 g.column name: 'Replay Official Ruling',attribute: 'replay_official_ruling' do |p|
                   p.replay_official_ruling
                 end
                 g.column name: 'Placement of Runners' do |p|
                   p.placement_of_runners
                 end
                 g.column name: 'Was Ruling Correct?' do |p|
                   p.was_ruling_correct
                 end
                 g.column name: 'Play Location',attribute: 'play_location', custom_filter: %w(HP
1B
2B
3B
LF
CF
RF) do |p|
                   p.play_location
                 end
                 g.column name: 'Time of Play' do |p|
                   p.time_of_play
                 end

                 g.column name: 'Time from call to review' do |p|
                   p.time_from_call_to_review
                 end
                 g.column name: 'Time on headset' do |p|
                   p.time_on_headset
                 end
                 g.column name: 'Time from call to next pitch' do |p|
                   p.time_from_call_to_next_pitch
                 end
                 g.column name: 'Time from review to ruling' do |p|
                   p.time_from_review_to_ruling
                 end
                 g.column name: 'Cameras Available' do |p|
                   p.cameras_available
                 end
                 g.column name: 'Definitive Angle' do |p|
                   p.definitive_angle
                 end
                 g.column name: 'Screenshot Link' do |p|
                   p.screenshot_link
                 end
                 
                 g.column name: 'Video Link' do |p|
                   p.video_link
                 end
                 
                 g.column name: 'Admin' do |p|
                   p.admin
                 end
                 g.column name: 'Replay Tech' do |p|
                   p.replay_tech
                 end
              end
           %>
                    
          </div>
        </div>
        <div role="tabpanel" class="tab-pane col-sm-12 fade" id="summary">
          <div class="row">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane col-sm-12 fade" id="weekly-summary">
          <div class="row">
            <%= 
              grid(@grid_weekly) do |g|
                 g.column name: 'ID', attribute: 'id', filter:false do |p|
                  link_to(p.id, replay_path(p))
                 end
                 g.column name:'Date', attribute: 'date'  do |p|
                   p.date.strftime("%m/%d/%Y")
                 end
                 g.column name: 'Visiting Team',attribute: 'visiting_team', custom_filter: %w(BAL BOS CWS CLE DET TEX KC LAA MIN NYY OAK SEA TB HOU TOR ARI ATL CHC CIN COL LAD MIA MIL NYM SD PIT PHI SF STL WAS) do |p|
                   p.visiting_team
                 end
                 g.column name: 'Home Team',attribute: 'home_team', custom_filter: %w(BAL BOS CWS CLE DET TEX KC LAA MIN NYY OAK SEA TB HOU TOR ARI ATL CHC CIN COL LAD MIA MIL NYM SD PIT PHI SF STL WAS) do |p|
                   p.home_team
                 end
                 g.column name: 'HP Umpire',attribute: 'hp_umpire' do |p|
                   p.hp_umpire
                 end
                 g.column name: '1B Umpire',attribute: 'first_b_umpire' do |p|
                   p.first_b_umpire
                 end
                 g.column name: '2B Umpire',attribute: 'second_b_umpire' do |p|
                   p.second_b_umpire
                 end
                 g.column name: '3B Umpire',attribute: 'third_b_umpire'  do |p|
                   p.third_b_umpire
                 end
                 g.column name: 'Replay Official',attribute: 'replay_official' do |p|
                   p.replay_official
                 end
                 g.column name: 'Game Start Time' do |p|
                   p.game_start_time.strftime("%I:%M %p")
                 end
                 g.column name: 'Inning' do |p|
                   p.inning
                 end
                 g.column name: 'Score' do |p|
                   p.score
                 end
                 g.column name: 'In Favor Of' do |p|
                   p.in_favor_of
                 end
                 g.column name: 'Outs' do |p|
                   p.outs
                 end
                 g.column name: 'Runners On' do |p|
                   p.runners_on
                 end
                 g.column name: 'Challenging Team' do |p|
                   p.challenging_team
                 end
                 g.column name: 'Calling Umpire' do |p|
                   p.calling_umpire
                 end
                 g.column name: 'Play Desc' do |p|
                   link_to("Click for Description", replay_path(p ,:anchor => "data") )
                 end
                 g.column name: 'Headset Ump 1' do |p|
                   p.headset_ump1
                 end
                 g.column name: 'Headset Ump 2' do |p|
                   p.headset_ump1
                 end
                 g.column name: 'Orginal Ruling on Field' do |p|
                   p.orig_ruling_on_field
                 end
                 g.column name: 'Replay Official Ruling',attribute: 'play_location', custom_filter: %w(Confirmed
Stands
Overturned) do |p|
                   p.replay_official_ruling
                 end
                 g.column name: 'Placement of Runners' do |p|
                   p.placement_of_runners
                 end
                 g.column name: 'Was Ruling Correct?' do |p|
                   p.was_ruling_correct
                 end
                 g.column name: 'Play Location' do |p|
                   p.play_location
                 end
                 g.column name: 'Time of Play' do |p|
                   p.time_of_play
                 end
                 g.column name: 'Time from call to review' do |p|
                   p.time_from_call_to_review
                 end
                 g.column name: 'Time on headset' do |p|
                   p.time_on_headset
                 end
                 g.column name: 'Time from call to next pitch' do |p|
                   p.time_from_call_to_next_pitch
                 end
                 g.column name: 'Time from review to ruling' do |p|
                   p.time_from_review_to_ruling
                 end
                 
                 g.column name: 'Admin' do |p|
                   p.admin
                 end
                 g.column name: 'Replay Tech' do |p|
                   p.replay_tech
                 end
                 g.column name: 'Cameras Available' do |p|
                   p.cameras_available
                 end
                 g.column name: 'Definitive Angle' do |p|
                   p.definitive_angle
                 end
                 g.column name: 'Screenshot Link' do |p|
                   link_to (p.screenshot_link)
                 end
                 
                 g.column name: 'Video Link' do |p|
                   link_to (p.video_link)
                 end
                 
                 g.column name: 'Admin' do |p|
                   p.admin
                 end
                 g.column name: 'Replay Tech' do |p|
                   p.replay_tech
                 end
               end
               %>
          </div>
        </div>
      </div>

      