<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Replay" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">

    <div class="container" style="background:white">

      <div class="row" style="">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-12" style="">
          <div id="page-content-wrapper" >
        <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
          <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 <%= render 'layouts/navigation' %>

</body>
</html>
